{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
	  <h2></h2>
	  <h3></h3>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/gSy9Sla8Fz0?list=PLQVvvaa0QuDfpEcGUM6ogsbrlWtqpS5-1" frameborder="0" allowfullscreen></iframe></div><br>
	  <p></p>
	  <p></p>
	  <p></p>
	  <p></p>
	  <p></p>
	 

	  <pre  class="prettyprint">
   
	  </pre>


		
		<p>Fore more tutorials, head to the <a title="Python programming tutorials" href="/dashboard/"><button class="btn btn-primary">Dashboard</button></a></p>
	  </div>
	  
	  
	  
	
	

	
</body>


{% endblock %}

