
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Python and Pandas with Sentiment Analysis Database']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Python and Pandas with Sentiment Analysis Database']}}%;">
				Python and Pandas with Sentiment Analysis Database Progress:  {{completed_percentages['Python and Pandas with Sentiment Analysis Database']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/1k_ug-bcjPY?list=PLQVvvaa0QuDdktuSQRsofoGxC2PTSdsi7" frameborder="0" allowfullscreen></iframe></div>
	  

		<pre  class="prettyprint">
import datetime
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np
import time

style.use('ggplot')


def results():


    df = pd.read_csv('performance_data_sp500ish.csv', index_col='time', parse_dates=True)

    #sort by date, since it's currently by stock.
    df.sort_index(inplace=True)

    # now we want to perform an average..

    #df['mean'] = df['pc'].mean()
    df['x_mean'] = pd.expanding_mean(df['pc'], 0)
    #df['ma'] = pd.rolling_mean(df['pc'], 10)

    return df['x_mean']




x = results()
x.plot(label='Wholistic Performance')
plt.axhline(0, color='k', linewidth = 4)
plt.legend()
plt.show()

		</pre>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


