
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Python and Pandas with Sentiment Analysis Database']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Python and Pandas with Sentiment Analysis Database']}}%;">
				Python and Pandas with Sentiment Analysis Database Progress:  {{completed_percentages['Python and Pandas with Sentiment Analysis Database']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/pandas-sentiment/stock-sentiment-analysis.png') }}" alt="Pandas and Python for investing with sentiment" /> 
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/u4Gvml5FtWE?list=PLQVvvaa0QuDdktuSQRsofoGxC2PTSdsi7" frameborder="0" allowfullscreen></iframe></div>
	  

		<pre  class="prettyprint">
import datetime
import pandas as pd
import pandas.io.data
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.ticker as mticker
import matplotlib.dates as mdates
from matplotlib import style
import numpy as np

style.use('ggplot')

def modifyDataSet():

    df = pd.read_csv('X:/stocks_sentdex.csv')
    df['time'] = pd.to_datetime(df['time'],unit='s')
    df = df.set_index('time')
    del df['id']
    print df.head()
    df.to_csv('X:/stocks_sentdex_dates_full.csv')

def macro():

    sp500 = pd.io.data.get_data_yahoo('%5EGSPC', 
                                 start=datetime.datetime(2012, 10, 15), 
                                 end=datetime.datetime(2014, 5, 11))
    
    ignoreList = ['btcusd','btceur','ltcusd','ltcbtc','btccad','btccny','btcaud','btcjpy','btcgbp']
    

    df = pd.read_csv('X:/stocks_sentdex_dates_full.csv', index_col='time', parse_dates=True)
    print df.head()

    # we can use this to exclude values, or include specific values.
    # you can use this to create indexes, which we will look into later.
    
    for x in ignoreList:
        df = df[df.type != x]
        

    counts = df['type'].value_counts()
    print counts
    _20000MA = pd.rolling_mean(df['value'], 20000)
    fixed_20K = _20000MA.copy()
    std_1year = pd.rolling_std(_20000MA, 20000, min_periods=20)
	
    ax1 = plt.subplot(2, 1, 1)
    sp500['Adj Close'].plot(label='S&P 500')
    ax2 = plt.subplot(2, 1, 2, sharex = ax1)
    _20000MA.plot(label='20K MA')

    plt.legend()
    plt.show()

def single_stock(stock_name):

    ignoreList = ['btcusd','btceur','ltcusd','ltcbtc','btccad','btccny','btcaud','btcjpy','btcgbp']

    df = pd.read_csv('X:/stocks_sentdex_dates_full.csv', index_col='time', parse_dates=True)
    print df.head()

    for x in ignoreList:
        df = df[df.type == stock_name.lower()]

    _500MA = pd.rolling_mean(df['value'], 500)
   
    ax1 = plt.subplot(2, 1, 1)
    df['close'].plot(label='Price')
    
    ax2 = plt.subplot(2, 1, 2, sharex = ax1)
    _500MA.plot(label='500MA')

    plt.legend()
    plt.show()

	
single_stock('bac')
		</pre>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


