
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Support Vector Machines (SVM)']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Support Vector Machines (SVM)']}}%;">
				Support Vector Machines (SVM) Progress:  {{completed_percentages['Support Vector Machines (SVM)']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/AleGZ9dkfPs?list=PLQVvvaa0QuDd0flgGphKCej-9jp-QdzZ3" frameborder="0" allowfullscreen></iframe></div><br>
	  


<p>Getting the data you need to do your testing can prove to be quite daunting. We're entering the age of big data, and, just like you want data, so does everyone else. </p>

<p>Data is a commodity, and has a market value. If you've never received a quote for something like Twitter data, you'll most likely be astonished to find out how much it costs. Do you want the firehose? Hope you have millions. Streaming 100K tweets a day? 10's of thousands a month.</p>

<p>The above is only true, of course, if someone has the data to even sell you. You'll likely find that a lot of the data you seek doesn't even exist. Even if it does, it may not exist in a form that you can use. Even if it is nicely organized, is it all in numerical form? Is it normalized?</p>

<p>It can be a massive pain. For us, our question is: </p>
<p>Can we use machine learning to analyze public company (stocks) fundamentals (things like price/book ratio, P/E ratio, Debt/Equity ... etc), and then classify the stocks as either out-performers compared to the market (labeled as 1's), or under-performers (labeled as 0's).</p>

<p>With this question, we need fundamental company data. We need this data over the years as well. You may find that the data you want is just plain not easily obtainable. Much of the data you may desire is just available online, and not in an easily downloaded and used format. We're going to simulate that, only without the need for you to actually parse from some web server. </p>

<p>The download for the data is: <a title="machine learning data" href="{{ url_for('static', filename='downloads/machine-learning-data/intraQuarter.zip') }}"><button class="btn btn-primary">Download intraQuarter.zip machine learning data</button></a>, which is over a decade's worth of S&P 500 company fundamentals</p>

<p>This data is straight HTML source code for the S&P 500 index of companies over a bit over a decade from Yahoo Finance. </p>

<p>This is the data we're going to use. Just for the record, probably the best source for public company data is the <a href="http://www.sec.gov/" title="SEC.gov website for stock information" target="_blank">SEC (Securities and Exchange Commission) website</a>.</p>

<p>To navigate the SEC.gov website, you should go to "company filings" near the top right, then use the "fast search" by typing the company's ticker symbol, like AAPL for Apple. An example of some forms you may be interested in here would be the 10K and 10Q forms. The 10K is the annual report, and the 10Q is a quarterly report. </p>

<p>All of that said, we're going to just use <a href="http://finance.yahoo.com/" title="yahoo finance for stock information" target="_blank">Yahoo Finance</a>.</p>

<p>Yahoo Finance has a bunch of nicely organized data points all in a table. This isn't ideal for us, but we can work with it. It turns out there are some options for connecting to EDGAR via an API, so later we will cover using EDGAR specifically. </p>

<p>Once you download the data, extract the files. The structure is:</p>

<p>intraQuarter</p>
<p>-_AnnualEarnings</p>
<p> --stock files (organized by YYYYMMDDHHMMSS.html)</p>
<p>-_KetStats</p>
 <p>--stock files (organized by YYYYMMDDHHMMSS.html)</p>
<p>-_QuarterlyEarnings</p>
<p> --stock files (organized by YYYYMMDDHHMMSS.html)</p>

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


