
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Django']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Django']}}%;">
				Django Progress:  {{completed_percentages['Django']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/django/python-django-web-framework-tutorial.png') }}" alt="text to screen" />
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="853" height="480" src="//www.youtube.com/embed/obJr6zH0C2Q?list=PLQVvvaa0QuDcTDEowl-b5nQlaDaD82r_s" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
	  
	  
<p>Python is one of the most popular and growing programming languages, so it is only natural that people developed web frameworks for it.</p>
	  
<p>This tutorial series is going to be covering the <a title="Python django web framework" href="https://www.djangoproject.com/" target="_blank"><strong>Django</strong></a> framework.</p>

<p>There are many others, such as <a title="flask python web framework" href="http://flask.pocoo.org/" target="_blank"><span style="text-decoration: underline;"><strong>Flask</strong></span></a>, <a title="web2py python web framework" href="http://www.web2py.com/" target="_blank"><span style="text-decoration: underline;"><strong>web2py</strong></span></a>, and <a title="bottle python web framework" href="http://bottlepy.org/docs/dev/index.html" target="_blank"><span style="text-decoration: underline;"><strong>bottle</strong></span></a>. Each framework has its own characteristics and should be considered depending on your project.</p>

<p>Django, Flask, and web2py are all great options. Django is the largest and most supported, so if you happen to learn by example, this might be the best choice. Django also just seems to have more documentation. Flask and web2py are both slightly more basic at their core. web2py doesn't require much at all, which is why many prefer it. Django forces you into having a semi-complex website, where web2py does not. Flask is somewhere in the middle. That said, you can make very simple websites with Django, and very complex websites with web2py.</p>

<p>If you intend to have a content-management-driven website with a significant database, then Django should definitely be considered. If you want to go with Django, then this tutorial series might just be for you. In this series, we create a simple blog-like website, do some basic HTML5 design, and show how to add python code in the back ground and display the return of any script. In our case, the return is the outputted Matplotlib graph that our backend script creates. Below is a picture of the finished product.</p>

<p> We have a fairly responsive website, recent news on the left hand side, then some of the recent posts and their content on the right. The nav bar buttons are rollover activated. The back-end and the content management system are managed entirely in Python. If you are familiar with creating web pages in php, and having those pages in the path of the URL and having those php pages handle all the displaying of HTML and then php generated content, then Django might be hard to swallow at first. I suggest you leave all your previous web development at the door!</p>

<p>I highly suggest you follow along with the video tutorial and program from scratch. I will provide the entire finished website, however, minus the database. If you are having trouble, you can check the completed code for help, or you can feel free to comment on the channel if you are at a loss.</p>

<p><a title="Django example website download" href="{{ url_for('static', filename='downloads/django/mysite.zip') }}" target="_blank"><span style="text-decoration: underline;"><strong>Django example website download</strong></span></a></p>
	  
		
		
		
		<p>For now, this series is video-based only. The entire playlist is above. For other tutorials or to mark this one as complete, head to the <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


