
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Data Manipulation']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Data Manipulation']}}%;">
				Data Manipulation Progress:  {{completed_percentages['Data Manipulation']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/pandas/standard-deviation-in-Pandas-tutorial1-1024x634.png') }}" alt="text to screen" />
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/iFZscnDwcbw?list=PLQVvvaa0QuDfHt4XU7vTm22xDegR0v0fQ" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div><br>
	  


<p>In this Pandas with Python tutorial, we cover standard deviation. With Pandas, there is a built in function, so this will be a short one. The only major thing to note is that we're going to be plotting on multiple plots on 1 figure:</p>
<pre class="prettyprint">import pandas as pd
from pandas import DataFrame
from matplotlib import pyplot as plt
df = pd.read_csv('sp500_ohlc.csv', index_col = 'Date', parse_dates=True)
print(df.head())
</pre>
<p>Typical stuff you've seen above.</p>

<p>Next, we make our standard deviation column:</p>
<pre class="prettyprint">df['STD'] = pd.rolling_std(df['Close'], 25, min_periods=1)
</pre>
<p>Hey, that was easy! Now let's plot it all. Let's compare price to standard deviation.</p>
<pre class="prettyprint">ax1 = plt.subplot(2, 1, 1)
df['Close'].plot()
</pre>
<p>This is new! It's not too hard though. When you add subplots, you have three parameters. The first is how many "Tall" you want (height), the second parameter is how many wide (width) you want. The 3rd parameter is the # of the plot. So, if you have a 2 x 1, that means you have only 1 column of subplots, but two rows. #1 would be the top, #2 would be the bottom. If you had a 2x2, then #1 would be top left, #4 would be bottom right, #2 would be top right, and #3 would be bottom left.</p>
<pre class="prettyprint">ax2 = plt.subplot(2, 1, 2, sharex = ax1)
df['STD'].plot()

plt.show()
</pre>


<p>But wait, there's more! It looks like we had a 4th parameter... they just keep on coming! The fourth parameter we're using here is a parameter telling matplotlib that we'd like to always have the x-axis line up on both charts. This makes moving the charts around, zooming, and general chart manipulation keep things in line. It's a nice touch for sure.</p>

<p>That's all there is to it. Really, learning how to plot multiple figures and do shared axis was more than standard deviation!</p>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


