
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Data Manipulation']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Data Manipulation']}}%;">
				Data Manipulation Progress:  {{completed_percentages['Data Manipulation']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/hcqpwrCDOco?list=PLQVvvaa0QuDfHt4XU7vTm22xDegR0v0fQ" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div><br>
	  

<p>Now that we understand how to read and write data, we can then learn how to modify our data and do things like moving columns, deleting columns, renaming columns, or referencing specific columns.</p>
<pre class="prettyprint">import pandas as pd
df = pd.read_csv('sp500_ohlc.csv', index_col = 'Date', parse_dates=True)
print(df.head())

df2 = df['Open']
print(df2.head())
</pre>
<p>Here, we've done our typical import of pandas, and then read in our CSV file. Then, we define a new variable, df2, which we're saying is equal do just the open column of df. This of course still retains the index.</p>

<p>What if we want to do multiple columns? Here we reference Close and High for our dataset.</p>
<pre class="prettyprint">df3 = df[['Close','High']]
print(df3.head())
</pre>
<p>How about renaming columns? This is done with the .rename() function, where you specify what you want to rename in a sort of dictionary.</p>
<pre class="prettyprint">df3.rename(columns={'Close': 'CLOSE!!'}, inplace=True)
print(df3.head())
</pre>
<p>What about referencing specific data only? Here we say we just want to see the data that has a close of over 1400:</p>
<pre class="prettyprint">df4 = df3[(df3['CLOSE!!'] > 1400)]
print(df4)
</pre>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


