
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Data Manipulation']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Data Manipulation']}}%;">
				Data Manipulation Progress:  {{completed_percentages['Data Manipulation']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/-jpk4p750Q4?list=PLQVvvaa0QuDfHt4XU7vTm22xDegR0v0fQ" frameborder="0" allowfullscreen></iframe></div><br>
	  


<p>Once you get comfortable with Pandas, chances are, you will find yourself using it quite often. The only problem is when you come across a task that you cannot figure out how to do in Pandas, or it is just not offered. While Pandas is quite extensive, the module cannot possibly cover every task that you might want to do. </p>

<p>To overcome this, there are many options. One of the easiest solutions is to utilize function mapping. We can use mapping to map the result of a function to a Pandas dataframe column. This allows us to write our own Pandas functions, to do anything we want. </p>

<p>Let's see a quick example of this:</p>

<pre class="prettyprint">
import pandas as pd
from pandas import DataFrame
import random

df = pd.read_csv('sp500_ohlc.csv', index_col = 'Date', parse_dates=True)
</pre>

<p>So far, typical Pandas code, except we're importing the random module. The purpose for this is just to generate some random data for us to populate our custom column function with. </p>

<pre class="prettyprint">
def function(data):
    x = random.randrange(0,5)
    return data*x
</pre>

<p>Now there's our function that we plan to use. As you can see, this function takes one parameter, data. With that parameter, it is going to multiply the data by "x," which is a random number between 0 and 5. </p>

<p>Now let's map the function to a column. There is a difference here to be noted between Python 2 and Python 3:</p>

		<div class="row">
		<div class="col-md-6">
		<strong><p>Python 3:</p></strong>
<pre class="prettyprint">
df['Multiple'] = list(map(function, df['Close']))

print(df.head())
</pre></div>
		<div class="col-md-6">
		<strong><p>Python 2:</p></strong>
<pre class="prettyprint">
df['Multiple'] = map(function, df['Close'])

print(df.head())
</pre></div></div>











<p>The output:</p>

<pre class="prettyprint">
>>> 
               Open     High      Low    Close      Volume  Adj Close    H-L  \
Date                                                                           
2000-10-02  1436.52  1445.60  1429.83  1436.23  1051200000    1436.23  15.77   
2000-10-03  1436.23  1454.82  1425.28  1426.46  1098100000    1426.46  29.54   
2000-10-04  1426.46  1439.99  1416.31  1434.32  1167400000    1434.32  23.68   
2000-10-05  1434.32  1444.17  1431.80  1436.28  1176100000    1436.28  12.37   
2000-10-06  1436.28  1443.30  1397.06  1408.99  1150100000    1408.99  46.24   

            Multiple  
Date                  
2000-10-02   2872.46  
2000-10-03      0.00  
2000-10-04      0.00  
2000-10-05   2872.56  
2000-10-06   4226.97  

[5 rows x 8 columns] 
</pre>

<p>As you can see, not only did it apply the multiple to the column, we can see evidence already that the function was ran per row, since the multiple used is different in the columns. </p>
	  
		
		
		
		<p>That's the end of the Pandas basics for now. For more tutorials, head to the <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


