
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['MySQL']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['MySQL']}}%;">
				MySQL Progress:  {{completed_percentages['MySQL']}}%
			</div>
		</div>
	  <h2>{{curTitle}} Part 1</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/LC8VpW03Ksw?list=PLQVvvaa0QuDcppfxEowvKiMYyILwOQIHF" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  
	  <p>So let's say we want to insert actual tweets from Twitter into our database, how might we do that? Before actually using twitter, let's first try doing it with our own data, but this time as variables. </p>
	  
	  <p>So let's say we have the following data:</p>
	  <pre>
username='python'

tweet='man im so cool'
	  </pre>
	  
	  <p>Now let's revisit the code from our previous tutorial, only making some changes this time:</p>
	  
	  	  <pre class="prettyprint">
import MySQLdb
import time

#        replace mysql.server with "localhost" if you are running via your own server!
#                        server       MySQL username	MySQL pass  Database name.
conn = MySQLdb.connect("mysql.server","beginneraccount","cookies","beginneraccount$tutorial")

c = conn.cursor()

username='python'

tweet='man im so cool'

c.execute("INSERT INTO taula (time, username, tweet) VALUES (%s,%s,%s)",
            (time.time(), username, tweet))

conn.commit()

c.execute("SELECT * FROM taula")

rows = c.fetchall()

for eachRow in rows:
    print eachRow

	  </pre>
	  
	  <p>Aside from the addition of the username and tweet variables, which are self-explanatory, our main change is:</p>
	  
<pre class="prettyprint">
c.execute("INSERT INTO taula (time, username, tweet) VALUES (%s,%s,%s)",
            (time.time(), username, tweet))

conn.commit()
</pre>
	  <p>So here, the MySQL query looks a bit different. This is how we insert variables. So we're telling MySQL that we're going to be inserting into the taula table, and we notify MySQL the column names, and order, that the variables will be in. In this case, time, username, then tweet. Then we add a VALUES parameter, then we finally have (%s, %s, %s), which is variable code for strings. After that, we close off the quotes, and then enter the tuple containing our variable data in the same order that we notified MySQL that the data would come in (time, username, tweet.), hence we use (time.time(), username, tweet))</p>
	  <p>Now comes this "conn.commit()," which we're seeing for the first time here. The previous tutorials didn't require this, they were committed based on us just hitting the enter key, basically. You must "commit" any changes to the database that you make, otherwise they simply will not stick. Think of "commit" as a sort of "save file," like in a word document.</p>
	  <p>After that, we run a simple SELECT again, and now we should see that our data indeed has been added. We should have a new row with a new timestamp, a username of python, and the tweet of "man im so cool" in our taula table.</p>
	  <p>If you run the script, you should see something like:</p>
	  <img class="img-responsive" src="{{ url_for('static', filename='images/mysql/mysqldb-mysql-with-python-tutorial.png') }}" alt="mysql tutorials" />  
	  <p>Great, now how far away are we from streaming actual tweets from Twitter into a database?!</p>
	  <p>About 15 minutes. Ready to learn how to stream live tweets from twitter?</p>
		
		<p>Next tutorial: <a title="Streaming Tweets from Twitter" href="/twitter-api-streaming-tweets-python-tutorial/?completed={{curLink}}"><button class="btn btn-primary">Streaming Tweets from Twitter</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


