
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['MySQL']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['MySQL']}}%;">
				MySQL Progress:  {{completed_percentages['MySQL']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/i6PVshqAUGw?list=PLQVvvaa0QuDcppfxEowvKiMYyILwOQIHF" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>Now we're ready to talk about inserting variable data. So far, we've been running all of our queries "statically," or via "hard-coding." The term "hard-coding" is used to describe scenarios where the code should contain variables, but instead the variables are coded by hand rather than by program.</p>
	  
	  <div class="border-row" style="width:100%; margin-bottom: 35px; margin-top: 35px;"> </div>
		<div class="row">
		<div class="col-md-6">
		<p><strong>If using PythonAnywhere:</strong></p>
		<p>If you are following along via PythonAnywhere, let's go ahead and kill the running MySQL console. Click on the "Consoles" tab, then use the "kill" option to the right of the console in the list under "Your consoles."</p>
		<img class="img-responsive" src="{{ url_for('static', filename='images/mysql/mysql-tutorial-ending-process.png') }}" alt="mysql tutorials" />  
		<p>Next, head to the "Files" tab, and create a new file by entering the title and clicking on "new."</p>
		<img class="img-responsive" src="{{ url_for('static', filename='images/mysql/mysql-python-tutorial-db-file.png') }}" alt="mysql tutorials" /> 
		</div>
		<div class="col-md-6">
		<p><strong>Via your own Server:</strong></p>
		<p>In order to interact with a MySQL database, you're going to need the MySQLdb module. To get that, you can either use pip, yum or apt-get.</p>
		<pre>sudo apt-get install python-mysqldb</pre>
		<p>or</p>
		<pre>yum install python-mysqldb</pre>
		<p>or</p>
		<pre>pip install MySQL-python</pre>
		<p>Once you have that, do:</p>
		<pre>sudo nano dbconnectex.py</pre>


		</div></div>
		<div class="border-row" style="width:100%; margin-bottom: 35px; margin-top: 35px;"> </div>
		
		
	  <p>Now we're ready to interact with MySQL via our Python file.</p>
  
	  <pre class="prettyprint">
import MySQLdb


#        replace mysql.server with "localhost" if you are running via your own server!
#                        server       MySQL username	MySQL pass  Database name.
conn = MySQLdb.connect("mysql.server","beginneraccount","cookies","beginneraccount$tutorial")

c = conn.cursor()

c.execute("SELECT * FROM taula")

rows = c.fetchall()

for eachRow in rows:
    print eachRow

	  </pre>	  
	  
	  <p>Running that, you should get the following output:</p>
	  <img class="img-responsive" src="{{ url_for('static', filename='images/mysql/python-mysqldb-tutorial.png') }}" alt="mysql tutorials" />  
	  
	  
	  
	  <p>Breakdown of each element of the script, click to learn more:</p>
	  
	  <kbd data-toggle="collapse" data-target="#import" aria-expanded="false" aria-controls="import">import MySQLdb</kbd>
	  
		<div class="collapse" id="import">
		  <div class="well">
			<p>We import MySQLdb, which is a Python module for interacting with MySQL databases and the MySQL language.</p>
		  </div>
		</div>
		
	
		<kbd data-toggle="collapse" data-target="#conn" aria-expanded="false" aria-controls="conn">conn = MySQLdb.connect()</kbd>
	  
		<div class="collapse" id="conn">
		  <div class="well">
			<p>Next, we connect to our database using MySQLdb.connect(), which takes the server address, the MySQL username, the MySQL password, and then the database name.</p>
		  </div>
		</div>
		
		<kbd data-toggle="collapse" data-target="#cursor" aria-expanded="false" aria-controls="cursor">c = conn.cursor()</kbd>
	  
		<div class="collapse" id="cursor">
		  <div class="well">
			<p>We then assign to the variable of "c," short for "cursor," the conn.cursor(). Think of the cursor like your mouse cursor. The cursor is used for actions like selecting things, moving around... etc. You will use it to execute all of your queries.</p>
		  </div>
		</div>
		
		<kbd data-toggle="collapse" data-target="#execute" aria-expanded="false" aria-controls="execute">c.execute("SELECT * FROM taula")</kbd>
	  
		<div class="collapse" id="execute">
		  <div class="well">
			<p>Now we can use c.execute() to literally execute queries, which you're familiar with by now. Here, we're issuing a SELECT * statement, which is going to return to us all of the rows within the taula table.</p>
		  </div>
		</div>
		
		<kbd data-toggle="collapse" data-target="#fetch" aria-expanded="false" aria-controls="fetch">rows = c.fetchall()</kbd>
	  
		<div class="collapse" id="fetch">
		  <div class="well">
			<p>Now we use c.fetchall(). So, we're using the cursor to fetch all of the returned rows, so now "rows" is basically a list of the return.</p>
		  </div>
		</div>
	  <p>Finally, we iterate through our "rows" list with a for loop.</p>
	  
	  

		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


