
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Natural Language Processing with NLTK']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Natural Language Processing with NLTK']}}%;">
				Natural Language Processing with NLTK Progress:  {{completed_percentages['Natural Language Processing with NLTK']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/3NTCQllXPfs?list=PLQVvvaa0QuDfRO5bQFLcVgvIOIhNUZpZf" frameborder="0" allowfullscreen></iframe></div><br>
	  

<p>NLTK is one of the most iconic Python modules, and it is the very reason I even chose the Python language.</p>
<p>There are very few Natural Language Processing (NLP) modules available for various programming languages, though they all pale in comparison to what NLTK offers.</p>
<p>Out of the box, NLTK can identify Named Entities (often nouns), and do part of speech tagging for grammar very simply. NLTK offers many very impressive advanced options as well.</p>
<p>To get NLTK, you can follow the video, though times have changed signifcantly since I posted that video.</p>
<p>The easiest way to get NLTK now is probably using pip with:</p>

<pre class="prettyprint">
pip install nltk
</pre>
<p>If you need help with pip and installing packages, check out the <a href="/using-pip-install-for-python-modules/" target="blank"><button class="btn btn-primary">pip tutorial</button></a>.</p>

<p>After you have nltk, you will need to go into a python script and do:</p>

<pre class="prettyprint">
import nltk

nltk.download()
</pre>
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


