
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Natural Language Processing with NLTK']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Natural Language Processing with NLTK']}}%;">
				Natural Language Processing with NLTK Progress:  {{completed_percentages['Natural Language Processing with NLTK']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/yAD9yFIAP1A?list=PLQVvvaa0QuDfRO5bQFLcVgvIOIhNUZpZf" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  
<p>Once you have NLTK installed, you are ready to begin using it. One of the more powerful aspects of NLTK for Python is the part of speech tagger that is built in. Notably, this part of speech tagger is not perfect, but it is pretty darn good. If you are looking for something better, you can purchase some, or even modify the existing code for NLTK.</p>

<p>The idea of part of speech tagging is so that you can understand the sentence structure and begin to use your program to somewhat follow the meaning of a sentence based on the word used, its part of speech, and the string it creates.</p>

<p>To accompany the video, here is the sample code for NLTK part of speech tagging with lots of comments and info as well:</p>


<p>POS tag list:</p>
<ul>
<li>CC	coordinating conjunction</li>	
<li>CD	cardinal digit	</li>	
<li>DT	determiner	</li>	
<li>EX	existential there (like: "there is" ... think of it like "there exists")</li>	
<li>FW	foreign word	</li>	
<li>IN	preposition/subordinating conjunction</li>	
<li>JJ	adjective	'big'</li>	
<li>JJR	adjective, comparative	'bigger'</li>	
<li>JJS	adjective, superlative	'biggest'</li>	
<li>LS	list marker	1)</li>	
<li>MD	modal	could, will</li>	
<li>NN	noun, singular 'desk'</li>	
<li>NNS	noun plural	'desks'</li>	
<li>NNP	proper noun, singular	'Harrison'</li>	
<li>NNPS	proper noun, plural	'Americans'</li>	
<li>PDT	predeterminer	'all the kids'</li>	
<li>POS	possessive ending	parent's</li>	
<li>PRP	personal pronoun	I, he, she</li>	
<li>PRP$	possessive pronoun	my, his, hers</li>	
<li>RB	adverb	very, silently, </li>	
<li>RBR	adverb, comparative	better</li>	
<li>RBS	adverb, superlative	best</li>	
<li>RP	particle	give up</li>	
<li>TO	to	go 'to' the store.</li>	
<li>UH	interjection	errrrrrrrm</li>	
<li>VB	verb, base form	        take</li>	
<li>VBD	verb, past tense	took</li>	
<li>VBG	verb, gerund/present participle	taking</li>	
<li>VBN	verb, past participle	taken</li>	
<li>VBP	verb, sing. present, non-3d	take</li>	
<li>VBZ	verb, 3rd person sing. present	takes</li>	
<li>WDT	wh-determiner	which</li>	
<li>WP	wh-pronoun	who, what</li>	
<li>WP$	possessive wh-pronoun	whose</li>	
<li>WRB	wh-abverb	where, when</li>	
</ul>
	  

		<pre  class="prettyprint">
import re
import nltk



cj = CookieJar()
opener = urllib2.build_opener(urllib2.HTTPCookieProcessor(cj))
opener.addheaders = [('User-agent', 'Mozilla/5.0')]


#empty array#
contentArray =['Starbucks is doing very well lately.',
               'Overall, while it may seem there is already a Starbucks on every corner, Starbucks still has a lot of room to grow.',
               'They just began expansion into food products, which has been going quite well so far for them.',
               'I can attest that my own expenditure when going to Starbucks has increased, in lieu of these food products.',
               'Starbucks is also indeed expanding their number of stores as well.',
               'Starbucks still sees strong sales growth here in the united states, and intends to actually continue increasing this.',
               'Starbucks also has one of the more successful loyalty programs, which accounts for 30%  of all transactions being loyalty-program-based.',
               'As if news could not get any more positive for the company, Brazilian weather has become ideal for producing coffee beans.',
               'Brazil is the world\'s #1 coffee producer, the source of about 1/3rd of the entire world\'s supply!',
               'Given the dry weather, coffee farmers have amped up production, to take as much of an advantage as possible with the dry weather.',
               'Increase in supply... well you know the rules...',]


exampleArray = ['The incredibly intimidating NLP scares people away who are sissies']
               

def processContent():
    try:
        for item in exampleArray:
            tokenized = nltk.word_tokenize(item)
            tagged = nltk.pos_tag(tokenized)

            chunkGram = r"""Chunk: {&lt;RB.?>*&lt;VB.?>*&lt;NNP>}"""
            chunkParser = nltk.RegexpParser(chunkGram)

            chunked = chunkParser.parse(tagged)
            print(chunked)
            chunked.draw()
            
    except Exception as e:
        print(str(e))
    


processContent()
		</pre>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


