
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['SQLite']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['SQLite']}}%;">
				SQLite Progress:  {{completed_percentages['SQLite']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/sqlite/plotting-from-a-database-in-python.png') }}" alt="plotting in matplotlib from sqlite database" /> 
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/gSy9Sla8Fz0?list=PLQVvvaa0QuDcagwDfL_pmuPkEaHs39Jjv" frameborder="0" allowfullscreen></iframe></div><br>
	  
<p>Now that we know how to do things like creating databases, make tables, insert data, and read data from an SQL database in Python, the next thing we will want to cover in this tutorial series is how to actually plot data from a database that we are reading from. As usual, this is just some simple code. It is not the most efficient, but it should be easy to follow and understand what is happening.</p>
<pre class="prettyprint">
import sqlite3
import time
import datetime

import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates



conn = sqlite3.connect('tutorial.db')
c = conn.cursor()
wordUsed = 'Python Sentiment'
sql = "SELECT * FROM stuffToPlot WHERE keyword =?"

graphArray = []



for row in c.execute(sql, [(wordUsed)]):
    startingInfo = str(row).replace(')','').replace('(','').replace('u\'','').replace("'","")
    splitInfo = startingInfo.split(',')
    graphArrayAppend = splitInfo[2]+','+splitInfo[4]
    graphArray.append(graphArrayAppend)

datestamp, value = np.loadtxt(graphArray,delimiter=',', unpack=True,
                              converters={ 0: mdates.strpdate2num(' %Y-%m-%d %H:%M:%S')})

fig = plt.figure()

rect = fig.patch

ax1 = fig.add_subplot(1,1,1, axisbg='white')
plt.plot_date(x=datestamp, y=value, fmt='b-', label = 'value', linewidth=2)
plt.show()
    
</pre>
In the above code, we first establish our connection to the database. From there, we select everything (noted with the *), where the keyword is equal to what we set. Once we have the data, we split it up by comma, and then take the data we want to plot and append it to graphArray.

After doing that, we use Numpy's loadtxt functionality to load the Python list, as well as convert the data times into a format that matplotlib can understand. There are many ways of plotting dates and having the X-axis show them, this is just one method.
	  
		
		
		
		<p>Want more tutorials? Head to the <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


