
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['SQLite']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['SQLite']}}%;">
				SQLite Progress:  {{completed_percentages['SQLite']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/I8OGRzOkQm4?list=PLQVvvaa0QuDcagwDfL_pmuPkEaHs39Jjv" frameborder="0" allowfullscreen></iframe></div><br>
	  
<p>Once you actually have data within your database, or maybe you have a pre-populated database, it makes sense that the next step is knowing how to read from the database. In our case, this is how to read from a SQLite database in Python.</p>

<p>The code used here is just a simple example, as there are better and more efficient ways of reading from a database. More on that later. For now, assuming you have created the tutorial.db database from previous tutorials:</p>


<pre class="prettyprint">
import sqlite3
import time
import datetime

conn = sqlite3.connect('tutorial.db')
c = conn.cursor()
sql = "SELECT * FROM stuffToPlot WHERE keyword =? AND source =?"

wordUsed = 'Python Sentiment'
sourceVariable = 'twitter'

def readData():
    for row in c.execute(sql, [(wordUsed), (sourceVariable)]):
        print str(row).replace(')','').replace('(','').replace('u\'','').replace("'","")
    

readData()
</pre>
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


