
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['SQLite']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['SQLite']}}%;">
				SQLite Progress:  {{completed_percentages['SQLite']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/KCi8wyT5Xes?list=PLQVvvaa0QuDcagwDfL_pmuPkEaHs39Jjv" frameborder="0" allowfullscreen></iframe></div><br>
<p>In the previous video, we learned how to create a database connection, which will create the database if it does not exist. We then learned how to create a table, which we learned that we should only do once! Then, we inserted some data into our sqlite database, but we probably found this to be somewhat silly, as we still had to type it all by hand. It will become necessary eventually to dynamically insert data into a database via your program and variables that it discovers. This tutorial covers how to do just that! As an added bonus, we talk briefly about the conversion of unix time stamps to datestamps.</p>

<p>Here is the sample code:</p>
<pre class="prettyprint">
import sqlite3

import datetime
import time


conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

def tableCreate():
    c.execute("CREATE TABLE stuffToPlot(ID INT, unix REAL, datestamp TEXT, keyword TEXT, value REAL)")


def dataEntry():
    c.execute("INSERT INTO stuffToPlot VALUES(1, 1365952181.288,'2013-04-14 10:09:41','Python Sentiment',5)")
    c.execute("INSERT INTO stuffToPlot VALUES(2, 1365952257.905,'2013-04-14 10:10:57','Python Sentiment',6)")
    c.execute("INSERT INTO stuffToPlot VALUES(3, 1365952264.123,'2013-04-14 10:11:04','Python Sentiment',4)")
    conn.commit()
    
idfordb = 4
keyword = 'Python Sentiment'
value = 7

def dataEntry2():
    date = str(datetime.datetime.fromtimestamp(int(time.time())).strftime('%Y-%m-%d %H:%M:%S'))
    c.execute("INSERT INTO stuffToPlot (ID, unix, datestamp, keyword, value) VALUES (?, ?, ?, ?, ?)",
              (idfordb, time.time(), date, keyword, value))
    conn.commit()

</pre>  

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


