
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Practical Flask Creating PythonProgrammingnet']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Practical Flask Creating PythonProgrammingnet']}}%;">
				Practical Flask Creating PythonProgrammingnet Progress:  {{completed_percentages['Practical Flask Creating PythonProgrammingnet']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="853" height="480" src="https://www.youtube.com/embed/FmfpMLoRjWU?list=PLQVvvaa0QuDc_owjTbIY4rbgXOFkUYOUB" frameborder="0" allowfullscreen></iframe></div>
	  
	  <p>In this tutorial, we illustrate the tabbing of the dashboard.</p>
	
	  <code>File: __init__.py, server location: /var/www/PythonProgramming/PythonProgramming/__init__.py</code>
		<pre  class="prettyprint">
from flask import Flask, render_template

app = Flask(__name__)

@app.route('/')
def homepage():
    return render_template("main.html")

@app.route('/dashboard/')
def dashboard():
    return render_template("dashboard.html")

if __name__ == "__main__":
    app.run()
		</pre>		
	  
	  <code>File: dashboard.html, server location: /var/www/PythonProgramming/PythonProgramming/templates/dashboard.html</code>
		<pre  class="prettyprint">
&#123;% extends "header.html" %}

&#123;% block body %}

&lt;div role="tabpanel">

  &lt;!-- Nav tabs -->
  &lt;ul class="nav nav-tabs" role="tablist">
    &lt;li role="presentation" class="active">&lt;a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics&lt;/a>&lt;/li>
    &lt;li role="presentation">&lt;a href="#wdev" aria-controls="wdev" role="tab" data-toggle="tab">Web Dev&lt;/a>&lt;/li>
    &lt;li role="presentation">&lt;a href="#dan" aria-controls="dan" role="tab" data-toggle="tab">Data Analysis&lt;/a>&lt;/li>

  &lt;/ul>

  &lt;!-- Tab panes -->
&lt;div class="tab-content">
  &lt;div role="tabpanel" class="tab-pane fade in active" id="basics">
	&lt;ul>
	   &lt;li>dfadsfasf&lt;/li>
	   &lt;li>jjh&lt;/li>
	   &lt;li>assggg&lt;/li>
	&lt;/ul>
  &lt;/div>
  
  &lt;div role="tabpanel" class="tab-pane fade" id="wdev">web dev&lt;/div>

  &lt;div role="tabpanel" class="tab-pane fade" id="dan">Data analysis!#Q$@!#&lt;/div>

&lt;/div>

&lt;/div>

&#123;% endblock %}
 
		</pre>		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


