
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Programming for Fundamental Investing']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Programming for Fundamental Investing']}}%;">
				Programming for Fundamental Investing Progress:  {{completed_percentages['Programming for Fundamental Investing']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/cBLSS0Xs3xc?list=PLQVvvaa0QuDejNczz7dbpyu3JnwUBvNch" frameborder="0" allowfullscreen></iframe></div>
	  

		<pre  class="prettyprint">
tickers = []		

def parseRus():
    try:
        readFile = open('russell3000.txt','r').read()
        splitFile = readFile.split('\n')
        for eachLine in splitFile:
            splitLine = eachLine.split(' ')
            ticker = splitLine[-1]
            tickers.append(ticker)

        print tickers
                

    except Exception,e:
        print 'failed in the main loop',str(e)


parseRus()

		</pre>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


