
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Programming for Fundamental Investing']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Programming for Fundamental Investing']}}%;">
				Programming for Fundamental Investing Progress:  {{completed_percentages['Programming for Fundamental Investing']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/SHZjQoiJZKY?list=PLQVvvaa0QuDejNczz7dbpyu3JnwUBvNch" frameborder="0" allowfullscreen></iframe></div>
	  <p>Hello everybody and welcome to the 11th fundamental investing with programming tutorial. </p>

<p>Now I want to talk about Quandl.com, which offers free financial data, which is absolutely awesome, this kind of financial data should be totally free, and easily accessible by programming.</p>

<p>Quandl offers an API and also modules in most major programming languages, that said, it looks like the module's main use would be if you were building a web app. In our case, we're not and we'd be looking for a very small and specific set of companies.</p>

<p>The Quandl API restricts anonymous calls to 50 a day, measured in UTC time. If you just make an account, that raises to 500 calls a day. Then, if you want more, you just have to contact them, and they, at least for now, assert that they will accept the request, they just want to know who is doing it. If you do want to exceed those 500 calls a day, you just need the api token, and you get that immediately when you make an account.</p>

<p>Anyway, to the tutorial!</p>

		<pre  class="prettyprint">
import time
import urllib2
from urllib2 import urlopen


def grabQuandl(ticker):
    endLink = 'sort_order=asc'

    try:
        #Keep in mind this will result in 3 requests# ... so dont run the heck out of this.
        netIncome = urllib2.urlopen('http://www.quandl.com/api/v1/datasets/OFDP/DMDRN_'+ticker+'_NET_INC.csv?&'+endLink).read()
        revenue = urllib2.urlopen('http://www.quandl.com/api/v1/datasets/OFDP/DMDRN_'+ticker+'_REV_LAST.csv?&'+endLink).read()
        ROC = urllib2.urlopen('http://www.quandl.com/api/v1/datasets/OFDP/DMDRN_'+ticker+'_ROC.csv?&'+endLink).read()

        print netIncome
        print '__________________'
        print revenue
        print '__________________'
        print ROC
        print '__________________'
        
    except Exception,e:
        print 'failed in the main loop',str(e)
        pass

grabQuandl('YHOO')
		</pre>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


