
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Programming for Fundamental Investing']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Programming for Fundamental Investing']}}%;">
				Programming for Fundamental Investing Progress:  {{completed_percentages['Programming for Fundamental Investing']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/K2zyPby4034?list=PLQVvvaa0QuDejNczz7dbpyu3JnwUBvNch" frameborder="0" allowfullscreen></iframe></div>
	  

	  <p>This tutorial shows a quick example of how we might begin to pull company information on stocks. There are many sources for stock data online, though Yahoo has pretty much always stuck around, and provided free data.</p>
	  <p>Here, we're just pulling the price to book ratio for any company we pass through the function parameter.</p>
	  <p></p>
	  

		<pre  class="prettyprint">
import time
import urllib2
from urllib2 import urlopen

def yahooKeyStats(stock):
    try:
        sourceCode = urllib2.urlopen('http://finance.yahoo.com/q/ks?s='+stock).read()
        pbr = sourceCode.split('Price/Book (mrq):&lt;/td>&lt;td class="yfnc_tabledata1">')[1].split('&lt;/td>')[0]
        print 'price to book ratio:',stock,pbr

    except Exception,e:
        print 'failed in the main loop',str(e)
		
		</pre>

		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


