
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Programming for Fundamental Investing']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Programming for Fundamental Investing']}}%;">
				Programming for Fundamental Investing Progress:  {{completed_percentages['Programming for Fundamental Investing']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/fBEMfugH3OA?list=PLQVvvaa0QuDejNczz7dbpyu3JnwUBvNch" frameborder="0" allowfullscreen></iframe></div>
	  
<p>Hello and welcome to the programming for a fundamental investor tutorial series. If programming sounds daunting to you, don't run off just yet. Historically, use of computers for investing is nothing new, however the technical analysis, high frequency, and algo traders definitely dominate the field when it comes to using programming to aid them, and there are plenty of books and other media dedicated to it. I thought it would be interesting to make a series dedicated towards using programming for fundamental investing. The purpose of the computer here will be to help aid you in the discovery process of companies that might make good long term investments.</p>

<p>Usually computers are used for things like algo trading, or HFTing, simply because humans cannot do it quick enough. Here, while the pace is slower, the stack of elligible companies is still monumental, so what we want to do is use computers to do a lot of the initial research and digging around for us, simply to help us locate the candidates.</p>

<p>Even for someone to just keep up with quarterly earnings for all of the companies lets say in the S&P 500 is a daunting task, and that is ignoring everything else required for this value investor.</p>

<p>If you have no programming experience at all, that is okay, you can start this tutorial completely from scratch. Python is a fairly simple programming language, and isn't too difficult to understand or use. </p>

<p>My tutorial stash contains a plethora of programming videos as well, and I never do something in my tutorials that I don't explain at the time, or that I dont have a dedicated tutorial video on it. If you are lost, confused, or whatever, feel free to leave a comment, send me message or send me an email, I am here to help! </p>

<p>If you are interested in a specific type, feel free to skip around. </p>

<p>So, if this sounds interesting, let's begin.</p>
	  

		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


