
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">      


<img class="img-responsive" src="{{ url_for('static', filename='images/dataviz/.png') }}" alt="text to screen" />

</iframe></div><br>
to
</iframe></div><br><br>
        width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Data Visualization']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Data Visualization']}}%;">
				Data Visualization Progress:  {{completed_percentages['Data Visualization']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/dataviz/3D-plotting-matplotlib.png') }}" alt="matplotlib tutorials" />
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe src="//www.youtube.com/embed/ZlpFQNVhB7I?list=PLQVvvaa0QuDfpEcGUM6ogsbrlWtqpS5-1" width="750" height="423" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div><br>
	  


<p>Once you get comfortable with the 2D graphing, you might be interested in learning how to plot three-dimensional charts. 3D graphs add more perspective and comparison to your charts, and just plain look cool! Luckily for us, 3D graphs are pretty easy to learn and program with Matplotlib.</p>

<p>Here is some quick and simple, with hard-coded values, for a 3-D matplotlib wire chart.</p>
<pre class="prettyprint">from mpl_toolkits.mplot3d import axes3d
import matplotlib.pyplot as plt
import numpy as np

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
X, Y, Z = [1,2,3,4,5,6,7,8,9,10],[5,6,2,3,13,4,1,2,4,8],[2,3,3,3,5,7,9,11,9,10]
ax.plot_wireframe(X, Y, Z)

plt.show() 
</pre>

		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


