
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Data Visualization']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Data Visualization']}}%;">
				Data Visualization Progress:  {{completed_percentages['Data Visualization']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/dataviz/basemap-matplotlib-python-plotting-maps-tutorial-1024x500.png') }}" alt="matplotlib tutorials" /> 
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe src="//www.youtube.com/embed/kZmYEfTv_WY?list=PLQVvvaa0QuDfpEcGUM6ogsbrlWtqpS5-1" width="750" height="423" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div><br>
	  


<p>In this Python programming tutorial with Matplotlib and Basemap we cover how to adjust the marker size and the alpha of our coordinate plots. Below is the sample code from the video tutorial:</p>
<pre class="prettyprint">from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

m = Basemap(projection='mill',llcrnrlat=20,urcrnrlat=50,\
            llcrnrlon=-130,urcrnrlon=-60,resolution='c')
m.drawcoastlines()
m.drawcountries()
m.drawstates()
m.fillcontinents(color='#04BAE3', lake_color='#FFFFFF')
m.drawmapboundary(fill_color='#FFFFFF')

lat = 30,31,34,33,32
lon = -103,-110,-107,-111,-115


lat2 = 40,33,44,31,30
lon2 = -113,-100,-102,-111,-112

x,y = m(lon,lat)
m.plot(x,y,'ro',markersize=20,alpha=.5)

x,y = m(lon2,lat2)
m.plot(x,y,'go',markersize=20,alpha=.5)

plt.title('Geo Plotting')
plt.show()
</pre>

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


