
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Data Visualization']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Data Visualization']}}%;">
				Data Visualization Progress:  {{completed_percentages['Data Visualization']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/dataviz/3d-matplotlib-scatter-plot-1024x710.png') }}" alt="matplotlib tutorials" />
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe src="//www.youtube.com/embed/6ljHxJQ47Uk?list=PLQVvvaa0QuDfpEcGUM6ogsbrlWtqpS5-1" width="750" height="423" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div><br>
	  


<p>Besides 3D wires, and planes, one of the most popular 3-dimensional graph types is 3D scatter plots. The idea of 3D scatter plots is that you can compare 3 characteristics of a data set instead of two.</p>

<p>This tutorial covers how to do just that with some simple sample data. Here is the code that generates a basic 3D scatter plot that goes with the video tutorial:</p>
<pre class="prettyprint">from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt



fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

x =[1,2,3,4,5,6,7,8,9,10]
y =[5,6,2,3,13,4,1,2,4,8]
z =[2,3,3,3,5,7,9,11,9,10]



ax.scatter(x, y, z, c='r', marker='o')

ax.set_xlabel('X Label')
ax.set_ylabel('Y Label')
ax.set_zlabel('Z Label')

plt.show()
</pre>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


