
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Data Visualization']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Data Visualization']}}%;">
				Data Visualization Progress:  {{completed_percentages['Data Visualization']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/dataviz/Live-updating-Matplotlib-graphs.gif') }}" alt="matplotlib tutorials" />
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe src="//www.youtube.com/embed/ge6DAaJ-leM?list=PLQVvvaa0QuDfpEcGUM6ogsbrlWtqpS5-1" width="750" height="423" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div><br>
	  


<p>A popular question is how to get live-updating graphs in Python and Matplotlib. Luckily for us, the creator of Matplotlib has even created something to help us do just that. This is the matplotlib.animation function. This video and the subsequent video shows you the animation function, how it works, and gives an example.</p>

<p>Here is an example file of data you can use to start with:</p>
<pre class="prettyprint">1,2
2,3
3,6
4,9
5,4
6,7
7,7
8,4
9,3
10,7
</pre>
<p>From here, we create a script that will generate a matplotlib graph, then, using animate, read the sample file, and re-draw the graph. Any time there is an update, this will give us the new graph. If there is no update, then it will look the same. Think of it a lot like FPS (frames per second) in things like games. The updates are fixed, but you can do many updates a second, or just do one update every 5 seconds... etc.</p>

<p>Here is some sample code, assuming you saved the above text to "sampleText.txt"</p>
<pre class="prettyprint">import matplotlib.pyplot as plt
import matplotlib.animation as animation
import time

fig = plt.figure()
ax1 = fig.add_subplot(1,1,1)

def animate(i):
    pullData = open("sampleText.txt","r").read()
    dataArray = pullData.split('\n')
    xar = []
    yar = []
    for eachLine in dataArray:
        if len(eachLine)&gt;1:
            x,y = eachLine.split(',')
            xar.append(int(x))
            yar.append(int(y))
    ax1.clear()
    ax1.plot(xar,yar)
ani = animation.FuncAnimation(fig, animate, interval=1000)
plt.show()
</pre>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


