
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Image Recognition']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Image Recognition']}}%;">
				Image Recognition Progress:  {{completed_percentages['Image Recognition']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423"  src="https://www.youtube.com/embed/K_wLM5EQij4?list=PLQVvvaa0QuDffXBfcH9ZJuvctJV3OtB8A" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>Now we're ready to discuss "Thresholding."</p>
	  <p>The idea of thresholding is to simplify the image. Some people particularly like the visual effect as well, but we're interested in the simplifying aspect. An issue arises when we're trying to identify characters, shapes, objects, whatever, because there is a massive list of colors. Anything complex, to be analyzed, needs to be broken down to the most basic parts. With thresholding, we can look at an image, analyze the "average" color, and turn that "average" into the threshold between white or black. Some thresholding wont go all of the way to either full black or white, there will be some gradient, but, for our basic purposes, we want to go all of the way!</p>
	  <p>Let's see an example of an image that we want to threshold.</p>
	  <p>In your script, instead of dot.png, let's open a number example: "i = Image.open('images/numbers/y0.4.png')"</p>
	  
	  <pre class="prettyprint">
from PIL import Image
import numpy as np
import matplotlib.pyplot as plt

i = Image.open('images/numbers/y0.4.png')

iar = np.asarray(i)


plt.imshow(iar)
print(iar)
plt.show()	  
	  </pre>
	  
	  <p>We get the following output image:</p>
	  <img class="img-responsive" src="{{ url_for('static', filename='images/image-recognition/yellow-zero-python-image-recognition.png') }}"/><br>
	  
	  <p>A single row of data now looks like:</p>
<pre class="prettyprint">
 [[255 242   0 255]
  [255 242   0 255]
  [ 63  72 204 255]
  [ 63  72 204 255]
  [ 63  72 204 255]
  [ 63  72 204 255]
  [255 242   0 255]
  [255 242   0 255]]
</pre>
	  <p>Now let's look at another version of this zero, using "i = Image.open('images/numbers/0.4.png')"</p>
	  <p>This is the same zero, just different colors. The resulting image is:</p>
	  <img class="img-responsive" src="{{ url_for('static', filename='images/image-recognition/thresholded-zero-python-image-recognition.png') }}"/><br>
	  <p>A sample row of pixels from this example is:</p> 
<pre class="prettyprint">
[[255 255 255 255]
  [  0   0   0 255]
  [  0   0   0 255]
  [  0   0   0 255]
  [  0   0   0 255]
  [  0   0   0 255]
  [  0   0   0 255]
  [255 255 255 255]]
</pre>
	  <p>Even just for us, we can start to make out and recognize what the row of pixels looks like in the 2nd example with just 0's or 255's. The same is going to be true for data analysis. We want to simplify everything to 0 or 255 if we can, and we can do this with thresholding.</p>
	  <p>We can even do this with images that are made intentionally to be hard to read. For example, use "i = Image.open('images/numbers/y0.5.png')" </p>
	  <img class="img-responsive" src="{{ url_for('static', filename='images/image-recognition/thresholding-for-hard-to-read-image.png') }}"/><br>
	  <p>Some people make the mistake, adding captcha-like things to their websites that do stuff like this, not realizing it only fools other humans, not computers and programs that are made to read characters. </p>
	  
	  <p>Right now, we don't have anything to solve this challenge for us, but it's not too hard of a challenge to solve at the basic level, so that's what we'll be doing next.</p>
	  	
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


