
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"   
</iframe></div><br><br>
 -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Image Recognition']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Image Recognition']}}%;">
				Image Recognition Progress:  {{completed_percentages['Image Recognition']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/image-recognition/image-recognition-with-python-tutorial.png') }}"/>
	  <h2>{{curTitle}}</h2>
	  <h3>How to perform basic image recognition with the use of Python</h3>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423"  src="https://www.youtube.com/embed/hbL_FTEZSyY?list=PLQVvvaa0QuDffXBfcH9ZJuvctJV3OtB8A" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>There are many applications for image recognition. One of the largest that people are most familiar with would be facial recognition, which is the art of matching faces in pictures to identities. Image recognition goes much further, however. It can allow computers to translate written text on paper into digital text, it can help the field of machine vision, where robots and other devices can recognize people and objects.</p>

		<p>Here, our goal is to begin to use machine learning, in the form of pattern recognition, to teach our program what text looks like. In this case, we'll use numbers, but this could translate to all letters of the alphabet, words, faces, really anything at all. The more complex the image, the more complex the code will need to become. When it comes to letters and characters, it is relatively simplistic, however.</p>

		<p>How is it done? Just like any problem, especially in programming, we need to just break it down into steps, and the problem will become easily solved. Let's break it down!</p>
	  
	  <p>First, you are going to need some sample documents to help with this series, you can get the <a href="{{ url_for('static', filename='downloads/image-recognition/tutorialimages.zip') }}"><strong>sample images here</strong></a>.</p>
	  
	  <p>From there, extract the zip folder and move the "images" directory to wherever you're writing this script. Within it, you should have an "images" directory. Within that, you have some simple images that we'll be using and then you have a bunch of example numbers within the numbers directory.</p>
	  <p>Once you have that, you're going to need the <a href="https://www.python.org/"><strong>Python programming language</strong></a>. This specific series was created using Python 2.7. You can go through this with Python 3, though there may be some minor differences.</p>
	  <p>You will also need Matplotlib, NumPy and PIL or Pillow. You can follow the video for installation, or you can also use pip install. At the time of my video, pip install wasn't really a method I would recommend. With any newer version of Python 2 or 3, you will get pip, and pip support on almost all packages is there now.</p>
	  
	  <kbd data-toggle="collapse" data-target="#dontknow" aria-expanded="false" aria-controls="dontknow">Don't know what pip is or how to install modules?</kbd>
	  
				<div class="collapse" id="dontknow">
				  <div class="well">
					<p><strong>Pip</strong> is probably the easiest way to install packages Once you install Python, you should be able to open your command prompt, like cmd.exe on windows, or bash on linux, and type:</p>
					<code>pip install numpy</code><br>
					<code>pip install matplotlib</code>			
					<p>Having trouble still? No problem, there's a tutorial for that: <a href="/using-pip-install-for-python-modules/" target="_blank"><strong>pip install Python modules tutorial</strong></a>.</p>
					<p>If you're still having trouble, feel free to contact us, using the contact in the footer of this website.</p>
				  </div>
				</div>
				
				
		<p>Once you have all of the dependencies, then you are ready to move on to the next part!</p>

	
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


