
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Image Recognition']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Image Recognition']}}%;">
				Image Recognition Progress:  {{completed_percentages['Image Recognition']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423"  src="https://www.youtube.com/embed/Zn0U2UbeJVY?list=PLQVvvaa0QuDffXBfcH9ZJuvctJV3OtB8A" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>For reference, here's the picture again:</p>
	  <img class="img-responsive" src="{{ url_for('static', filename='images/image-recognition/image-array-explained.png') }}"/>
	  
	  <p>So each pixel is measured in RBGA, so an example row is [255, 255, 255, 255], what does that mean?</p>
	  <p>This means we're looking at a 256-color image, since programming starts with a 0 rather than a 1. This color means 255 red, 255 green, 255 blue, and then 255 Alpha.</p>
	  <p>Alpha is a measure of how opaque an image is. The higher the number, the more solid the color is, the lower the number, the more transparent it is.</p>
	  <p>Try now running the following with another image:</p>
	  
	  <pre class="prettyprint">
from PIL import Image
import numpy as np
i = Image.open('images/dotndot.png')

iar = np.asarray(i)

print(iar)
	  </pre>
	  
	  
		<p>This has a black dot with another that is green-ish colored from the images directory. Notice the pixel values change.</p>

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


