
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Image Recognition']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Image Recognition']}}%;">
				Image Recognition Progress:  {{completed_percentages['Image Recognition']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423"  src="https://www.youtube.com/embed/IqfPGcNStE8?list=PLQVvvaa0QuDffXBfcH9ZJuvctJV3OtB8A" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>Now we're ready to dig into what makes an image in numbers. For this, we use PIL or Pillow, depending on what you were able to install (depending on your Python bit-version).</p>
	  
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
# if you are on 32 bit os
# import Image

# 64 bit with pillow:
from PIL import Image
import numpy as np
		</pre></div>
		<div class="col-md-6">
<p>Use whichever import you need to use, depending on your bit-version. I use PIL because I am using a 64-bit version of Python.</p>
<p>We are then just importing numpy as np. Numpy is used for number-crunching.</p></div></div>	  


	  <p>Now let's see our image in numbers.</p>

		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
i = Image.open('images/dot.png')
iar = np.asarray(i)
print(iar)
		</pre></div>
		<div class="col-md-6">
<p>First we open the image using our image processor. Then we are saving the NumPy array version to iar, then outputting to console.</p></div></div>	  
	<p>The output should look something like this, with non-chopped data:</p>
	<pre class="prettyprint">
[[[  0   0   0 255]
  [255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]]

...

 [[255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]
  [255 255 255 255]]]
	</pre>
	
	
	<p>Here is a 3-dimensional array of the data. All of the data is the image, each matrix block is a row of data, and each element within that is the pixel values in RGB-A (Red Green Blue Alpha). Here's a picture that should help: </p>
	
	<img class="img-responsive" src="{{ url_for('static', filename='images/image-recognition/image-array-explained.png') }}"/><br>
	


	  
	<!--  
	  <kbd data-toggle="collapse" data-target="#consoleinfo" aria-expanded="false" aria-controls="consoleinfo">console</kbd>
	  
		<div class="collapse" id="consoleinfo">
		  <div class="well">
			<p>When someone refers to "the console," they are referring to where information from your program is ouput. You will see an example of "output to console" below. If you want this message to go away, just click again on the "console" button that you originally clicked on.</p>
		  </div>
		</div>
		
		
		
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
CODE HERE
		</pre></div>
		<div class="col-md-6">
<p>EXPLANATION</p></div></div>
	  
		
		-->
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


