{% extends "header.html" %}
{% block body %}



<body class="body">

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Thank you for your Support!</h3>
  </div>
  <div class="panel-body">

  
  <p>Thank you very much for your donation!</p>
  <p>All donations are logged automatically, though they are currently processed manually. I will write an automated process if donations become frequent enough. If you do not see your donation as having affected the support amounts within 24-48 hours, feel free to email using the contact below to make sure it wasn't missed.</p>
  <p>-Harrison</p>

	
  </div>
</div>
	
</body>
{% endblock %}

