{% extends "header.html" %}
{% block body %}



<body class="body">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">The Mission with PythonProgramming.net</h3>
  </div>
  <div class="panel-body">
	<strong>Free, high quality, programming education for anyone, anywhere.</strong>
	
    <p>Programming is one of the most important fields moving into the future, and anyone who is interested in learning about programming should have immediate access, regardless of whether or not they can pay $50-$100 per tutorial series.</p>
	<br>

	<button type="button" class="btn btn-default" onclick="goBack()">Go Back</button>
	
  </div>
  
  

</div>
	
</body>
{% endblock %}

