{% extends "header.html" %}
{% block body %}



<body class="body">

	
	<div class="panel panel-primary">
	  <div class="panel-heading">
		<h3 class="panel-title">Support the content you've seen:</h3>
	  </div>
	  <div class="panel-body">
	<div class="list-group">
	  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=55A98LR4DBCGQ" class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;($any) General Donation</h4>
		<p class="list-group-item-text">Want to just show your support for the tutorials or this website in general? Here's how!</p>
	  </a>
	  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3M5N238HTCS2C" class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-cloud-download"></span><span class="glyphicon glyphicon-heart"></span>&nbsp;($12) Download HD video and source code for a video series of your choice.</h4>
		<p class="list-group-item-text">Want to have your very own copy of the videos to watch without ads / internet? This is a great way to get that! You must include a valid Gmail address in the special instructions section.</p>
	  </a>
	  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2WARET9P2HBZ6" class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;<span class="glyphicon glyphicon-cloud-download"></span><span class="glyphicon glyphicon-heart"></span>&nbsp;($50) Full download of all HD videos and sample code to-date.</h4>
		<p class="list-group-item-text">With a donation of $50, you will be given a download for all videos and code to date. You must include a valid Gmail address in the special instructions section.</p>
	  </a>
	  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=L4LAMNK542WJE" class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tree-deciduous"></span><span class="glyphicon glyphicon-folder-open"></span>&nbsp;<span class="glyphicon glyphicon-cloud-download"></span><span class="glyphicon glyphicon-heart"></span>&nbsp;($200) Lifetime download access too all HD Videos and Code current and future.</h4>
		<p class="list-group-item-text">For some of my largest supporters, you can watch my videos in their best quality, without ads, and without needing to stream over YouTube. This grants you download access for all current videos / code as well as all future video downloads and code. You must include a valid Gmail address in the special instructions section.</p>
	  </a>
	</div>
	</div>
	</div>
	
	
	<div class="panel panel-primary">
	  <div class="panel-heading">
		<h3 class="panel-title">Sponsor a Series</h3>
	  </div>
	  <div class="panel-body">
	<div class="list-group">
	  <a href="/contact/" class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;Sponsor a Series</h4>
		<p class="list-group-item-text">Businesses and people are allowed, at my discretion, to sponsor a video series. Options for just how you might sponsor the series are vast. Click here to contact about sponsoring a series.</p>
	  </a>

	</div>
	</div>
	</div>	

  <button type="button" class="btn btn-default" onclick="goBack()">Go Back</button>


	
</body>
{% endblock %}

