{% extends "header.html" %}
{% block body %}



<body class="body">


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Technology</h3>
  </div>
  <div class="panel-body">
  <p>Without a massive list of contributors and their technology to the Python community, this website would simply not be possible. This is the main list of the technology used to make this service possible.</p>

	
    <ul>
		<li>Main programming language used: <a href="https://www.python.org/" target="_blank">Python 2 and Python 3</a></li>
		<li>Web Framework: <a href="http://flask.pocoo.org/" target="_blank">Flask</a></li>
		<li>CSS/HTML5: Most of this is done using <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
		<li>Embedded Python 3 console: Created using <a href="http://brython.info/" target="_blank">Brython</a>, a Python replacement for javascript.</li>
	</ul>
	<br>
	<button type="button" class="btn btn-default" onclick="goBack()">Go Back</button>

	
	
  </div>
</div>
	
</body>
{% endblock %}

