
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Build a Supercomputer and program with MPI']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Build a Supercomputer and program with MPI']}}%;">
				Build a Supercomputer and program with MPI Progress:  {{completed_percentages['Build a Supercomputer and program with MPI']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <h3>Getting processor name with MPI's comm.rank()</h3>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/DWzXucbna4c?list=PLQVvvaa0QuDf9IW-fe6No8SCw-aVnCfRi" frameborder="0" allowfullscreen></iframe></div>
	  
	  <p>Before we begin, I will reiterate that everything written here needs to be copied to all nodes. You may eventually have a specific master-node script and then worker-node scripts, though this is not really necessary for us at the moment. </p>
	  <p>I will be storing scripts, like the following:</p>
	  <p><code>~/Desktop/sct/sct2.py</code></p>
	  <p>Here's the code for sct2.py</p>
	  
	<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
from mpi4py import MPI
comm = MPI.COMM_WORLD
name=MPI.Get_processor_name()
print("hello world")
print(("name:",name,"my rank is",comm.rank))
		</pre></div>
		<div class="col-md-6">
<p>First we need to import mpi4py, then we establish communications.</p>
<p>Grab processor name, output generic message, then output dynamic info</p>
</div></div>

<p>To run this:</p>
<code>mpirun.openmpi -np 2 -machinefile /home/pi/mpi_testing/machinefile python ~/Desktop/sct/sct2.py</code><br>
<p>Output will be something like this, I used different print outs in the picture, but same idea:</p>
<img class="img-responsive" src="{{ url_for('static', filename='images/supercomputer/basic-mpi-mpi4py-script.png') }}" alt="MPI with MPI4py and Python tutorial" /><br>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


