
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"  

<pre class="prettyprint"> 

<img class="img-responsive" src="{{ url_for('static', filename='images/supercomputer/raspberry-pi-supercomputer.jpg') }}" alt="supercomputing tutorial" />





Robotics with the Raspberry Pi    =>      Robotics with the Raspberry Pi



</iframe></div><br><br>

  -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Build a Supercomputer and program with MPI']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Build a Supercomputer and program with MPI']}}%;">
				Build a Supercomputer and program with MPI Progress:  {{completed_percentages['Build a Supercomputer and program with MPI']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/supercomputer/raspberry-pi-supercomputer.jpg') }}" alt="supercomputing tutorial" />
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <h3>Using the Raspberry Pi as a cheap node to a supercomputer</h3>
<p>Normally, building a supercomputer, even just a cheap one to learn about networking and parallel computing, is quite expensive. With the Raspberry Pi, however, we can build a functional 4-node supercomputer for less than $200.</p>

<p>Now, some people might ask why you might consider building a supercomputer out of Raspberry Pis, citing their weak processing abilities. To these people, I simply respond: Because I can. Just the very notion of building a supercomputer is plain awesome.</p>

<p>If being able to say you've built and own a supercomputer is not enough, that's fine. You will also learn about networking and parallel processing.</p>

<p>In this series, you will learn not only how to build the supercomputer, but also how to use it by parallel programming with MPI (Message Passing Interface) and the Python programming language.</p>

<p>To get started, let's learn some basics to supercomputing.:</p>

		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


