
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Build a Supercomputer and program with MPI']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Build a Supercomputer and program with MPI']}}%;">
				Build a Supercomputer and program with MPI Progress:  {{completed_percentages['Build a Supercomputer and program with MPI']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <h3>Marrying the power of MPI with the logic of Python</h3>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/XdIwXDmxHLM?list=PLQVvvaa0QuDf9IW-fe6No8SCw-aVnCfRi" frameborder="0" allowfullscreen></iframe></div>
	  
	  <p>Since MPI is run on every node, and since we're using Python, we can mix the two for some neat outcomes. The first one that we'll show is conditional statements, based on comm.rank.</p>
	  <p></p>
		
		
		
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
from mpi4py import MPI

comm = MPI.COMM_WORLD

print "my rank is:",comm.rank

if comm.rank == 1:
    print 'Doing the task of Rank 1'

if comm.rank == 0:
    print 'Doing the task of Rank 0!'
		</pre></div>
		<div class="col-md-6">
<p>Here, we show the beginnings of how you might have very node-specific tasks. </p>
<p>Saving this as sct.py:</p>
<code>mpirun.openmpi -np 2 -machinefile /home/pi/mpi_testing/machinefile python ~/Desktop/sct/sct3.py</code><br></div></div>
<p>Output:</p>
<img class="img-responsive" src="{{ url_for('static', filename='images/supercomputer/mpi-mpi4py-tutorial-conditional-statements.png') }}" alt="MPI with MPI4py and Python tutorial" /><br>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


