
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"  <pre class="prettyprint">  -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Build a Supercomputer and program with MPI']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Build a Supercomputer and program with MPI']}}%;">
				Build a Supercomputer and program with MPI Progress:  {{completed_percentages['Build a Supercomputer and program with MPI']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/3F7P2lAD6hw?list=PLQVvvaa0QuDf9IW-fe6No8SCw-aVnCfRi" frameborder="0" allowfullscreen></iframe></div>
	  

<p><strong>Via Ubuntu Linux Super Computer, all nodes (you can do all of this on just 1 device, however):</strong></p>
<p>On all nodes:</p>
<p><code>sudo apt-get install python</code></p>
<p><code>sudo apt-get install python-mpi4py</code></p>
<p><code>cd ~</code></p>
<p><code>sudo mkdir mpi4py</code></p>
<p><code>cd mpi4py</code></p>
<p><code>wget http://mpi4py.googlecode.com/files/mpi4py-1.3.tar.gz</code></p>
<p><code>tar xfz mpi4py-1.3.tar.gz</code></p>
<p><code>cd mpi4py-1.3/demo</code></p>
<p><strong>Just the master node now:</strong></p>
<p><code>mpirun.openmpi -np 2 -machinefile /home/pi/mpi_testing/machinefile python helloworld.py</code></p>
<p>For the above code, you will need that machine file to exist. We placed ours from the building a super computer tutorial in the /home/pi/mpi_testing/ directory under the name of machinefile. The contents of the machine file are just the local IP addresses listed out, separated by new lines.</p>
<img class="img-responsive" src="{{ url_for('static', filename='images/supercomputer/machinefile.png') }}" alt="supercomputing tutorial" />
<p>To get the local IP address, usually 192.168.x.x, type "ifconfig" in your shell.</p>
<p>From the test we ran, you should get some simple helloworld output. If not, you should go back and look everything over!</p>
<p></p>

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


