
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"   


	 <div class="row">
		<div class="col-md-6">
<p><strong></strong></p>
<p></p>
		</div>
		<div class="col-md-6">
<p><strong></strong></p>
<p></p>
</div></div>


 -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Build a Supercomputer and program with MPI']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Build a Supercomputer and program with MPI']}}%;">
				Build a Supercomputer and program with MPI Progress:  {{completed_percentages['Build a Supercomputer and program with MPI']}}%
			</div>
			
		</div>
	  <h2>{{curTitle}}</h2>
	  
	  <br>

	  
	  <p>This section of the super computing tutorial series is going to cover how to use MPI with MPI4py and the Python programming language.</p>
	  <p>If you're just joining us now, you should already have either a <a href="/build-supercomputer-raspberry-pi/" target="blank"><strong>super-computer</strong></a> (we made one out of Raspberry Pis), or you can actually use MPI just for parallel computing with multiple cores in a CPU. </p>
	  <p>MPI is short for Message Passing Interface. The idea is to have an interface to, you guessed it, pass messages. The idea is to share variables and other data between nodes or cpus. The idea behind that is that you can have the calculations and processing node-specific, but you can either share the data/variables across all nodes, or send to a master node. This takes a lot of processing and time and spreads it around the network. The act of message passing is very cost-minimal.</p>
	  <p>To start, you will need Python, as well as MPI4Py.</p>
	  

	  

		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


