
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Build a Supercomputer and program with MPI']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Build a Supercomputer and program with MPI']}}%;">
				Build a Supercomputer and program with MPI Progress:  {{completed_percentages['Build a Supercomputer and program with MPI']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <h3>MPI bcast example in Python</h3>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/i2dvGVTl7Vw?list=PLQVvvaa0QuDf9IW-fe6No8SCw-aVnCfRi" frameborder="0" allowfullscreen></iframe></div>
	  
	  <p></p>

		
		
		
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
from mpi4py import MPI

comm = MPI.COMM_WORLD
rank = comm.rank

if rank == 0:
    data = {'a':1,'b':2,'c':3}
else:
    data = None

data = comm.bcast(data, root=0)
print 'rank',rank,data
		</pre></div>
		<div class="col-md-6">
<p>What's happening is, first, we assign some data to rank 0, the master node. Then, we want to "broadcast" with bcast the data to all of the other nodes. We are then setting all data to None first, so all other nodes have None as their data.</p>
<p>Next, we use comm.bcast() to broadcast the data from rank 0. So, the first parameter is the data, the second, "root," means "from what node." With broadcast, all nodes automatically accept the data, under the data var name.</p></div></div>
	  
<code>mpirun.openmpi -np 5 -machinefile /home/pi/mpi_testing/machinefile python ~/Desktop/sct/sct8.py</code><br>
		<img class="img-responsive" src="{{ url_for('static', filename='images/supercomputer/MPI-broadcast-with-mpi4py-tutorial.png') }}" alt="MPI with MPI4py and Python tutorial" /><br>		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


