
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Build a Supercomputer and program with MPI']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Build a Supercomputer and program with MPI']}}%;">
				Build a Supercomputer and program with MPI Progress:  {{completed_percentages['Build a Supercomputer and program with MPI']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <h3>comm.recv() and comm.send()</h3>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/PA-TVHARu4w?list=PLQVvvaa0QuDf9IW-fe6No8SCw-aVnCfRi" frameborder="0" allowfullscreen></iframe></div>
	  
	  <p>Since the main idea of MPI is to send and receive messages, I think it'd be a good idea to go ahead and cover that.</p>
	  <p>There are many ways to send and receive data, we'll cover the most direct method first, in its most basic form. There are many ways to send and receive data, however:</p>
	  <p><ul>
			<li>one to one - one node to another.</li>
			<li>one to many - one node to all nodes or many of them.</li>
			<li>many to one - many nodes, or all nodes, to one node (usually the master).</li>
			
	     </ul></p>

		
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
from mpi4py import MPI
import time

comm = MPI.COMM_WORLD

rank = comm.rank
size = comm.size
name = MPI.Get_processor_name()

shared = (rank+1)*5

if rank == 0:
    data = shared
    comm.send(data, dest=1)
    comm.send(data, dest=2)
    print 'From rank',name,'we sent',data
    time.sleep(5)

elif rank == 1:
    data = comm.recv(source=0)
    print 'on node',name, 'we received:',data


elif rank == 2:
    data = comm.recv(source=0)
    print 'on node',name, 'we received:',data
		</pre></div>
		<div class="col-md-6">
<p>Sending and receiving data in the basic form is pretty simple using comm.send and comm.recv (short for receive).</p>
<p>We're using two parameters in comm.send. The first parameter is the data that we want to send, which we're calling data. The next parameter is the destination, or the node number.</p>
<p>To receive, we're just using one parameter, which is source, or what node are we expecting this data to come from.</p>
<p>After that, we're printing to console any data that we have.</p></div></div>
<code>mpirun.openmpi -np 3 -machinefile /home/pi/mpi_testing/machinefile python ~/Desktop/sct/sct5.py</code><br>
<img class="img-responsive" src="{{ url_for('static', filename='images/supercomputer/send-and-recv-mpi-mpi4py-tutorial.png') }}" alt="MPI with MPI4py and Python tutorial" /><br>

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


