
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Build a Supercomputer and program with MPI']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Build a Supercomputer and program with MPI']}}%;">
				Build a Supercomputer and program with MPI Progress:  {{completed_percentages['Build a Supercomputer and program with MPI']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <h3>MPI send and recv "tag" parameter</h3>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/umDORTtqMfo?list=PLQVvvaa0QuDf9IW-fe6No8SCw-aVnCfRi" frameborder="0" allowfullscreen></iframe></div>
	  
	  <p></p>
	  <p></p>
	  
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
from mpi4py import MPI

comm = MPI.COMM_WORLD
rank=comm.rank
size=comm.size
name=MPI.Get_processor_name()


if rank == 0:
    shared = {'d1':55,'d2':42}
    comm.send(shared, dest=1)

if rank == 1:
    receive = comm.recv(source=0)
    print receive
    print receive['d1']

		</pre></div>
		<div class="col-md-6">
<p>So this isn't tagging just yet, but I wanted to show you this. What is so special about this? Well, the data we're sending here is not just an int or a string, this is a dictionary! So, as you can see, we can also send objects with MPI4py. This is actually pretty exciting, at least to me.</p></div></div>

		
		
		
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
from mpi4py import MPI

comm = MPI.COMM_WORLD
rank=comm.rank
size=comm.size
name=MPI.Get_processor_name()

if rank == 0:
    shared = {'d1':55,'d2':42}
    comm.send(shared, dest=1, tag=1)

    shared2 = {'d3':25,'d4':22}
    comm.send(shared2, dest=1, tag=2)

if rank == 1:
    receive = comm.recv(source=0, tag=1)
    print receive
    receive2 = comm.recv(source=0, tag=2)
    print receive2
		</pre></div>
		<div class="col-md-6">
<p>Tagging messages is basically a requirement, unless maybe you treat a node itself as a variable name, and that node only produces one element. The idea of tagging is that you can actually put a label to the data that you're sending, otherwise there's really no way to differentiate between one bit of "data" and another.</p>
<p>Tagging allows us to control data flow, and make sure correct data gets stored where we expect. As you can see, we use the tag parameter in both </p></div></div>


<code>mpirun.openmpi -np 5 -machinefile /home/pi/mpi_testing/machinefile python ~/Desktop/sct/sct7.py</code><br>
		<img class="img-responsive" src="{{ url_for('static', filename='images/supercomputer/mpi4py-send-recv-tagging.png') }}" alt="MPI with MPI4py and Python tutorial" /><br>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


