
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Flask']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Flask']}}%;">
				Flask Progress:  {{completed_percentages['Flask']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/flask/Flask-templates-variables-and-logic-in-HTML.png') }}" alt="text to screen" />
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/4vvHkziL3oQ?list=PLQVvvaa0QuDcOS4l8RCWh0olq_je0OKaP" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div><br>
	  


<p>In this Flask web development tutorial with Python, we cover the addition of Flask variables in your HTML, templates, and some logic. </p>

<p>The idea here is that we can use Python to generate variables that appear in our pages. Take a table, for example, with values in it that correspond to prices of items in a store. We want this table to be dynamic to the changing prices in our database, so we'd want to fill the table with variables rather than having to manually edit the HTML every time a price changes. </p>

<p>To do this, we're also using templates, which are HTML code that act as "Templates" for our website. Templates contain a bunch of HTML code that we expect to use often with our site, with some variable and dynamic aspects that differentiate between pages. The most basic form of template is one that contains everything from your navigation bar and up. Since this should usually remain identical on every page of your site, this would be an example of what you would want to template.</p>

<p>We also cover using try-except for error handling. It can be useful to have the exceptions logging the errors in a log file at the very least.</p>

<p>First up, a quick example of try-except returning a string from the exception:</p>
<pre class="prettyprint">  from flask import Flask,render_template

app = Flask(__name__)

@app.route('/')
def homepage():
    try:
        x += 5
        return "Hi there"
    except Exception, e:
        return str(e)

if __name__ == "__main__":
    app.run()
</pre>
<p>The above will return the error that x is not defined in the browser, rather than an HTTP error. You can use this to handle some of the errors on your page. I wouldn't recommend actually displaying the error to the page, but you can instead log the errors to a file, or send yourself an email that an error occurred and some information about it. There are custom HTML error handling options with Flask that we'll cover later as well, like 404 not found. It is not a good idea to display errors to the user in the browser, as this can often give direct insight into the inner-workings of your website. To the typical user, this is okay, but displaying this data to a hacker, who might be purposefully causing these errors, this can be very bad.</p>

<p>Next up, templates.</p>

<p>In your templates directory, add the following as "index.html"</p>
<pre class="prettyprint">  
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;

&lt;/head&gt;

&lt;body class="body"&gt;
	&lt;header&gt;
		
	&lt;/header&gt;
	 &lt;body&gt;
	   &lt;h3&gt;&#123;&#123; title &#125;&#125;&lt;/h3&gt;
	   &lt;br&gt;
		&#123;% for p in paragraph %&#125;
		&lt;p&gt;&#123;&#123; p &#125;&#125;&lt;/p&gt;
		&#123;% endfor %&#125;
	 &lt;/body&gt;

&lt;/html&gt;
</pre>

<p>See the &#123;&#123; title &#125;&#125; ? This is how we can pass variables from Python to our HTML page. So, the double curly braces denote variables. You'll see how we pass them to the index page, but they are passed as function parameters.</p>

<p>Next, you can see the:</p>
<pre class="prettyprint">                  
        &#123;% for p in paragraph %&#125;
		&lt;p&gt;&#123;&#123; p &#125;&#125;&lt;/p&gt;
	&#123;% endfor %&#125;
</pre>
<p>Whenever you see the curly braces with percent symbols, it means a statement is being invoked. In this case, a for loop. We can also do if, else, and elif very easily. Take note, however, that we are required to use "end" statements too. HTML does not work like Python does in the sense that tabs denote blocks of code. Without explicitly stating where the end of the loop or statement is, you will find yourself with an error.</p>

<p>If you're following along via the videos, make sure you watch both, there are two videos on this subject before we get into Bootstrap.</p>

		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


