
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">             width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['PyGame']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['PyGame']}}%;">
				PyGame Progress:  {{completed_percentages['PyGame']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/pygame/drawing-things-in-pygame.png') }}" alt="text to screen" />
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/nszkfvOXv4w?list=PLQVvvaa0QuDdLkP8MrOXLe_rKuf6r80KO" frameborder="0" allowfullscreen></iframe></div>
	  


<p>In this PyGame and Python programming tutorial video, we cover how to draw shapes with PyGame's built in drawing functionality. We can do things like draw specific pixels, lines, circles, rectangles, and any polygon we want by simply specifying the points to draw between. Let's get started!</p>

<pre class="prettyprint">
import pygame

pygame.init()

white = (255,255,255)
black = (0,0,0)

red = (255,0,0)
green = (0,255,0)
blue = (0,0,255)

gameDisplay = pygame.display.set_mode((800,600))
gameDisplay.fill(black)
</pre>

<p>Typical stuff above, now let's cover what would be used to draw a pixel:</p>

<pre class="prettyprint">
pixAr = pygame.PixelArray(gameDisplay)
pixAr[10][20] = green
</pre>

<p>Alright, so what have we done above? What we're doing is assigning the entire pixel array to a value, referencing it using pygame.PixelArray. So what this function does is it returns the pixel array of the specified surface (which is the entire display in our case). Then, we're able to modify it. So, we specify pixAr[10][20], which means the pixel residing at (10,20), then we're able to re-assign it. In our case, we call it green. </p>

<pre class="prettyprint">
pygame.draw.line(gameDisplay, blue, (100,200), (300,450),5)
</pre>

<p>Drawing lines, above, is easy enough. The function just asks where do we want to draw it, what color do we want it, and then we specify the two coordinate pairs that we want to draw a line between. </p>

<pre class="prettyprint">
pygame.draw.rect(gameDisplay, red, (400,400,50,25))
</pre>

<p>We've already extensively covered the drawing of rectangles in this series, but this specific "drawing things" tutorial wouldn't be complete without it. This function asks where to draw, what color, and then asks for a final tuple that contains: the top right x and y, followed by width, then height. </p>

<pre class="prettyprint">
pygame.draw.circle(gameDisplay, white, (150,150), 75)
</pre>

<p>Here we draw a circle. This function asks where to draw, what color, what is the center point of the circle, and what is the radius. There is another parameter that you can add which is width. </p>

<pre class="prettyprint">
pygame.draw.polygon(gameDisplay, green, ((25,75),(76,125),(250,375),(400,25),(60,540)))
</pre>

<p>Finally, we have polygons. This function asks where to draw, what color, and then asks for a long tuple, of tuples, containing the points of the polygon.</p>


<p>Now for some canned stuff to make our game actually run: </p>

<p>(if you don't understand this, revisit some of the earlier tutorials..)</p>
<pre class="prettyprint">
while True:
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            pygame.quit()
            quit()

    pygame.display.update()

</pre>

<p>There are a few other drawing functions, though these are the ones that I find myself actually using. You can find more in the <a href="http://www.pygame.org/docs/ref/draw.html">PyGame documentation</a>. I may also cover some of the others later on. </p>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


