{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
	  	<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Basics']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Basics']}}%;">
				Basics Progress:  {{completed_percentages['Basics']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
<div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/CGRKqnoQGgM?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
<body align="left" onload="brython({debug:1, cache:'version'})">
		<div class="container" align="left" style="height:300px; max-width:750px" >
			<center><button type="button" class="btn btn-success" id="run" style="height:35px"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Run</button></center>
			
			<table id="banner" cellpadding=0 cellspacing=0>
			<tr id="banner_row">
			
			</tr>
			</table>
			



			<div id="container" style="max-height:80%">
			<div id="left-div">
			<div style="padding: 3px 3px 3px 3px;">
			
			
			</div>
			  <div id="editor" style="width:100%;"></div>
			</div>

			<div id="right-div">
			<div style="padding: 3px 3px 3px 3px;">



			</div>
			<div style="width:100%;height:100%;">
			<textarea id="console"></textarea>

			</div>
			<p style="font-size:75%">Python 3 embedded console using <a href="http://brython.info/" target="_blank">Brython</a></p>
			</div>
			</div>

		</div>
	</body><br>

<p>The idea of function parameters in Python is to allow a programmer who is using that function, define variables dynamically within that function. For example:</p>
<pre  class="prettyprint" style="width:50%">def simple_addition(num1,num2):
    answer = num1 + num2
    print('num1 is', num1)
    print(answer)

simple_addition(5,3)
</pre>
<p>Here, we defined our function name as simple_addition. In the function parameters (often called parms for short), we specify variables named num1 and num2.</p>
<p>Next, within the function, we say this new answer variable is equal to whatever num1 plus num2 is. We then print out what num1 is, whatever it happens to be. Finally, the last line of this function just prints out the answer variable, which is num1 plus num2.</p>

<p>Now, to run this function and make use of these parameters, we run simple_addition(5,3). This runs the simple_addition function using the parameters of num1=5 and num2=3. Then our program sums 5 and 3 together, then we print out that num1 is 5, and finally we print out the "answer" which was defined already, which is the sum of 5 and 3, which is of course 8.</p>

<p>There is no limit to the amount of function parameters you have. If you want to just specify the definitions of these parameters without saying the parameter, like when we just said 5 and 3, instead of putting the parameter=5, then you must put them in the exact order. If you have a lot of parameters where it might be difficult to remember their order, you could do something like:</p>
<pre  class="prettyprint" style="width:50%">simple_addition(num2=3,num1=5)
</pre>
<p>In that case, when you call the function and define the parameters, you can see how we actually defined num2 before num1, even though in the function definition we ask for them in the other way around. As long as you specify the parameter you are defining, you can jumble them up. Otherwise, you must keep them in order!</p>

<p>Finally, not only must they be in perfect order, but you must not specify too many or two few definitions.</p>

<p>This will not work:</p>
<pre  class="prettyprint" style="width:50%">simple_addition(3,5,6)
</pre>
nor will this:
<pre  class="prettyprint" style="width:50%">simple_addition(3)
</pre>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>
	  
	  
	  
	

	

	
</body>


{% endblock %}

