{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
	  	<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Basics']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Basics']}}%;">
				Basics Progress:  {{completed_percentages['Basics']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
<div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/KeRxe9rll2Q?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
<body align="left" onload="brython({debug:1, cache:'version'})">
		<div class="container" align="left" style="height:300px; max-width:750px" >
			<center><button type="button" class="btn btn-success" id="run" style="height:35px"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Run</button></center>
			
			<table id="banner" cellpadding=0 cellspacing=0>
			<tr id="banner_row">
			
			</tr>
			</table>
			



			<div id="container" style="max-height:80%">
			<div id="left-div">
			<div style="padding: 3px 3px 3px 3px;">
			
			
			</div>
			  <div id="editor" style="width:100%;"></div>
			</div>

			<div id="right-div">
			<div style="padding: 3px 3px 3px 3px;">



			</div>
			<div style="width:100%;height:100%;">
			<textarea id="console"></textarea>

			</div>
			<p style="font-size:75%">Python 3 embedded console using <a href="http://brython.info/" target="_blank">Brython</a></p>
			</div>
			</div>

		</div>
	</body>

<p>In the previous tutorial, we explained what function parameters were, and that we could have an infinite amount of them. With this, we explained how having a lot of them could become troublesome and tedious for the programmer using the function. Luckily, there is a solution for this.</p> 

<p>Sometimes, it can make a lot of sense to make a complex function highly customize-able. That said, some people may want to use the function in it's simple... "default" ... form. Think about it like buying a car. Some people want to just buy the base model, with all the features that come by default from the factory. Other people want to customize their car in many different ways.</p> 

<p>Luckily, we allow people who want to customize their car the option to do it, but we do not ask every buyer of every car what kind of wheels they want, what brand of tire, what screws they want, what kind of leather seats by what brand, what windshield, what steering wheel, what lights... etc. This is just too much for some people and what they want to use the car for. Same goes for functions in programming.</p>

<p>So we have function parameter defaults, which allow the function's creator to set "default" values to the function parameters. This allows anyone to use a function with the default values, yet lets anyone who wishes to customize them the ability to specify different values.</p>

<p>When using defaults, any parameters with defaults should be the last ones listed in the function's parameters.</p>

<p>Something like:</p>
<pre class="prettyprint">def simple(num1, num2=5):
    pass
</pre>
<p>This is just a simple definition of a function, with num1 not being pre-defined (not given a default), and num2 being given a default.</p>
<pre  class="prettyprint" style="width:50%">def basic_window(width,height,font='TNR'):
    # let us just print out everything
    print(width,height,font)
basic_window(350,500)
</pre>
<p>Here, we can see that, if there is a function parameter default, then, when we call that function, we do not need to define or even mention that parameter at all!</p>
<pre  class="prettyprint" style="width:50%">basic_window(350,500,font='courier')
</pre>
<p>Here's another example, only this time we see that, despite the parameter having a default, we are able to still change it.</p>

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>
	  
	  
	  
	

	

	
</body>


{% endblock %}

