{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
	  	<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Basics']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Basics']}}%;">
				Basics Progress:  {{completed_percentages['Basics']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/jnpC_Ib_lbc?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M" frameborder="0" allowfullscreen></iframe></div>
	  
	  <p>As time has passed, various installation methods have prevailed. Currently, as of Jan 2015, I would most recommend the use of pip, since almost all packages that you will hear about will be available via pip. Pip also now comes with your default Python installation, whether it is Python 2 or Python 3.</p>
	  
	  <p>Some packages, however, still are not natively available in 64 bit, so using a website with wheel (.whl) files can still be useful. Here's one of my favorite 3rd party "unofficial" sources:</p>
	  <p>http://www.lfd.uci.edu/~gohlke/pythonlibs/</p>
	  
	  <p>Despite being "unofficial," this website is the most official unofficial source for packages that I know of!</p>

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>
	  
	  
	  
	

	

	
</body>


{% endblock %}

