{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
	  	<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Basics']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Basics']}}%;">
				Basics Progress:  {{completed_percentages['Basics']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	
<div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/IX6mc9l6tY4?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M" frameborder="0" allowfullscreen></iframe></div>
<p>Up until this point, you have been able to follow along without actually needing your own installation of Python. In order to follow this tutorial, you're going to need your very own Python installation. Getting Python is easy enough, follow the video above.</p>	
  
<div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/UKXx4e9PotI?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>



<p>At this point, you've got all the basics necessary to start employing modules.</p>

<p>We still have to teach classes, among a few other necessary basics, but now would be a good time to talk about modules.</p>

<p>If you are using linux, installing Python modules is incredibly easy. For programming, linux is just lovely when it comes to installing packages for just about whatever. I believe mac allows similar treatment, though I've not done it myself.</p>

<p>When I was first starting out with Python, installing modules was one of the most difficult things, for a few reasons. Mainly, with windows, there are quite a few methods for installation of modules. you've got pip install setuptools, download and click'n'drag, or setup.py</p>



<p>At the time of starting Python, a large part of my troubles was that I didn't actually understand the process of getting a module, and this is obviously very frustrating.</p>

<p>Python is going to look in a few places for modules.</p>

<p>That's going to be site-packages and the script's directory for the most part. There are some other places you can use, but let's leave them out of it. Knowing this allows you yourself to make your own modules, in the form of just a script if you want, putting that in the same directory as your main script, and then using import to bring it on board, you can also place multiple scripts in a dir and use that. Once you begin to familiarize yourself with this, and understand how and why things work, it will help you a lot.</p>


<p><strong>As of Jan 23rd 2015, I would suggest using Pip to install modules, which is covered in the next tutorial.</strong> I decided to leave this tutorial in the lists, however, as sometimes modules still wont come compatible for pip uses, or maybe you have some sort of very unique version of Python that doesn't have pip functionality.</p>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>
	  
	  
	  
	

	

	
</body>


{% endblock %}

