{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
	  	<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Basics']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Basics']}}%;">
				Basics Progress:  {{completed_percentages['Basics']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
<div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/wgHeTJtth0w?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>

<p>In this video, we cover the OS module with Python 3. The main purpose of the OS module is to interact with your operating system. The primary use I find for it is to create folders, remove folders, move folders, and sometimes change the working directory. You can also access the names of files within a file path by doing listdir(). We do not cover that in this video, but that's an option.</p>

<p>The os module is a part of the standard library, or stdlib, within Python 3. This means that it comes with your Python installation, but you still must import it.</p>

<p>Sample code using os:</p>
<pre class="prettyprint">
import os
</pre>

<p>All of the following code assumes you have os imported. Because it is not a built-in function, you must always import it. It is a part of the standard library, however, so you will not need to download or install it separately from your Python installation.</p>

<pre class="prettyprint">
curDir = os.getcwd()
print(curDir)
</pre>

<p>The above code will get your current working directory, hence "cwd."</p>

<p>To make a new directory:</p>
<pre class="prettyprint">
os.mkdir('newDir')
</pre>

<p>To change the name of, or rename, a directory:</p>
<pre class="prettyprint">
os.rename('newDir','newDir2')
</pre>

<p>To remove a directory:</p>
<pre class="prettyprint">
os.rmdir('newDir2')
</pre>

<p>With the os module, there are of course many more things we can do. In many scenarios, however, the os module is actually becoming outdated, as there is a superior module to get the job done. We will get to those soon enough. It is still a good idea to at least know some of the basics of the os module. I especially like to use it to create directories. If you ever create a setup.py file, the creation of directories and the placing of files within them will be essential. </p>
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>
	  
	  
	  


	

	
</body>


{% endblock %}

