{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
	  	<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Basics']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Basics']}}%;">
				Basics Progress:  {{completed_percentages['Basics']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
<div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/0SyyGIFnVCA?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>

<p>Now that we know how to write and append to files, we might want to learn how to read data from files into the Python program. Doing this is quite simple, and has very similar syntax.</p>
<pre class="prettyprint"># similar syntax as you've seen, 'r' for read. You can just throw a .read() at
# the end, and you get:
readMe = open('exampleFile.txt','r').read()
print(readMe)
</pre>
<p>Often times, people are reading something with many lines into memory. Maybe it's a list of names, or something like that. We can then use ".readlines()" to help us split all of this up into a Python list for us.</p>
<pre class="prettyprint"># this will instead read the file into a python list. 
readMe = open('exampleFile.txt','r').readlines()
print(readMe)
</pre>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>
	  
	  
	  

	

	
</body>


{% endblock %}

