{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
	  	<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Basics']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Basics']}}%;">
				Basics Progress:  {{completed_percentages['Basics']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
<div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/Ccct5D2AyNM?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>

<p>In this video, we begin discussion of the tkinter module. The tkinter module is a wrapper around tk, which is a wrapper around tcl, which is what is used to create windows and graphical user interfaces. Here, we show how simple it is to create a very basic window in just 8 lines. We get a window that we can resize, minimize, maximize, and close! The tkinter module's purpose is to generate GUIs. Python is not very popularly used for this purpose, but it is more than capable of doing it.</p>

<p>Let's walk through each step to making a tkinter window:</p>
<p>Simple enough, just import everything from tkinter.</p>
<pre class="prettyprint">from tkinter import *
</pre>
<p>Here, we are creating our class, Window, and inheriting from the Frame class. Frame is a class from the tkinter module. (see Lib/tkinter/__init__)</p>

<p>Then we define the settings upon initialization. This is the master widget.</p>
<pre class="prettyprint">class Window(Frame):

    def __init__(self, master=None):
        Frame.__init__(self, master)               
        self.master = master
</pre>
<p>The above is really all we need to do to get a window instance started.</p>

<p>Root window created. Here, that would be the only window, but you can later have windows within windows.</p>
<pre class="prettyprint">root = Tk()
</pre>
<p>Then we actually create the instance.</p>
<pre class="prettyprint">app = Window(root)
</pre>
<p>Finally, show it and begin the mainloop.</p>
<pre class="prettyprint">root.mainloop()
</pre>
<p>The above code put together should spawn you a window that looks like:</p>

<img class="img-responsive" src="{{ url_for('static', filename='images/basics/basic-tkinter-python3-window.png') }}" alt="tkinter python 3 tutorial" width="348" height="312" />

<p>Pretty neat, huh? Obviously there is much more to cover.</p>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>
	  
	  
	  

	

	
</body>


{% endblock %}

