{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
	  	<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Basics']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Basics']}}%;">
				Basics Progress:  {{completed_percentages['Basics']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
<div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="//www.youtube.com/embed/f6zeuk5UjuE?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>



<p>Welcome to another Python 3 basics tutorial. In this tutorial we're going to cover the basics of writing to a file.</p>

<p>It should be noted that there are two methods for saving data to a file, and those are writing and appending. Writing to a file will write that bit of data, whatever it is, solely, to the file. This means if there was anything there before, it will be gone if you use write.</p>

<p>If you use append, then you will basically add to whatever is previously there. I will be showing both methods, but write first.</p>
<pre class="prettyprint">text = 'Sample Text to Save\nNew line!'

# notifies Python that you are opening this file, with the intention to write
saveFile = open('exampleFile.txt','w')

# actually writes the information
saveFile.write(text)

# It is important to remember to actually close the file, otherwise it will
# hang for a while and could cause problems in your script
saveFile.close()
</pre>
<p>Saving data to a file is as simple as that! Just don't forget to close it or you will likely find yourself having lots of i/o issues in your programs!</p>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>
	  
	  
	  
	

	

	
</body>


{% endblock %}

