
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Robotics with the Raspberry Pi']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Robotics with the Raspberry Pi']}}%;">
				Robotics with the Raspberry Pi Progress:  {{completed_percentages['Robotics with the Raspberry Pi']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/robotics/a-wild-raspberry-pi-car.png') }}" alt="robotics with the Raspberry Pi" />
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423"   src="https://www.youtube.com/embed/N9rv28GtKGo?list=PLQVvvaa0QuDeJlgD1RX9_49tMLUxvIxF4" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>Here's an example of the Raspberry Pi car being remote-controlled.</p>
	  <p>It is done using Putty for SSH, a portable cellphone charger to power the pi, and an edimax wifi adapter for remote connectivity.</p>
	  <p>With this setup, we're remote controlling via a remote desktop connection, since we needed the GUI for the keylogger via tkinter.</p>
	  <p>Next, up, we add a distance sensor.</p>
	  

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


