
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Robotics with the Raspberry Pi']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Robotics with the Raspberry Pi']}}%;">
				Robotics with the Raspberry Pi Progress:  {{completed_percentages['Robotics with the Raspberry Pi']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423"   src="https://www.youtube.com/embed/LlFkybEQFFA?list=PLQVvvaa0QuDeJlgD1RX9_49tMLUxvIxF4" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>At the end of the day, to follow this tutorial, along with the supplies you already should have (M-F jumpers, breadboard, Raspberry Pi), you will also need an H-Bridge (L298n), four motors, power for the motors, and some sort of frame. I went ahead and just bought a kit for simplicity, but this is extremely open-ended. The same motors I used can be found on ebay very easily. Just type in Raspberry Pi motors. They are cheap and weak. Feel free to hunt for something better.</p>
	  <p>In order to achieve true wire-less, you will also need a wifi dongle (search for "edimax wifi") and some sort of power supply. The Raspberry Pi wants 5v ~1000mA. Since we use cell phone chargers, it only makes sense to use a portable cell phone battery pack. I used an ankur pencil charger, which provided plenty of power. Use whatever you like.</p>

	  
	 

<p><strong>Frame/wheels that I bought:</strong></p>

<p>These two together: </p>
<a href="http://www.amazon.com/gp/product/B008Q47WNA/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B008Q47WNA&linkCode=as2&tag=pythonpr-20&linkId=ONNOGIMWCRWAOHI7">SainSmart 4WD Drive Aluminum Mobile Robot Platform for Robot Arduino UNO MEGA2560 R3 Duemilanove *Silver*</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pythonpr-20&l=as2&o=1&a=B008Q47WNA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

<p>+</p>

<a href="http://www.amazon.com/gp/product/B00AJGM37I/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00AJGM37I&linkCode=as2&tag=pythonpr-20&linkId=LTNOTAXAZJICNREV">SainSmart L298N Dual H Bridge Stepper Motor Driver Controller Board Module for Arduino UNO MEGA R3 Mega2560 Duemilanove Nano Robot</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pythonpr-20&l=as2&o=1&a=B00AJGM37I" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br><br>


<p><strong>Or you can just buy:</strong></p>

<a href="http://www.amazon.com/gp/product/B00AJGM4H2/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00AJGM4H2&linkCode=as2&tag=pythonpr-20&linkId=OTGCKX7IERP7UTHP">SainSmart Mobile Car Kit with Sensor Shield V5 + 4WD Mobile Platform + Dual H Bridge Stepper Motor Driver + HC-SR04 Ultrasonic Distance Sensor + UNO/UNO R3/Mega2560/Mega R3(optional) for Arduino (UNO, Silver)</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pythonpr-20&l=as2&o=1&a=B00AJGM4H2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> <br><br>


<p><strong>The wifi dongle:</strong></p>
<a href="http://www.amazon.com/gp/product/B003MTTJOY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B003MTTJOY&linkCode=as2&tag=pythonpr-20&linkId=JTGGUND45U64RDLP">Edimax EW-7811Un 150Mbps 11n Wi-Fi USB Adapter,Ideal for Raspberry Pi</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pythonpr-20&l=as2&o=1&a=B003MTTJOY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br><br>

<p><strong>Portable cell phone charger for external Raspberry Pi power:</strong></p>
<a href="http://www.amazon.com/gp/product/B005X1Y7I2/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B005X1Y7I2&linkCode=as2&tag=pythonpr-20&linkId=MCJY6LAWSHUDHGBD">Anker(R) 2nd Gen Astro Mini 3200mAh Lipstick-Sized Portable Charger</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pythonpr-20&l=as2&o=1&a=B005X1Y7I2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br><br>

		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


