
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"  

<pre class="prettyprint"> 

<img class="img-responsive" src="{{ url_for('static', filename='images/forex-pattern-recognition/larger-pattern-recognition.png') }}" alt="pattern recognition tutorial" />





Robotics with the Raspberry Pi    =>      Robotics with the Raspberry Pi



</iframe></div><br><br>

  -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Robotics with the Raspberry Pi']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Robotics with the Raspberry Pi']}}%;">
				Robotics with the Raspberry Pi Progress:  {{completed_percentages['Robotics with the Raspberry Pi']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/raspberry-pi-robot-car.jpg') }}" alt="robotics with the Raspberry Pi" />
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423"   src="https://www.youtube.com/embed/ZEmKlxxITI8?list=PLQVvvaa0QuDeJlgD1RX9_49tMLUxvIxF4" frameborder="0" allowfullscreen></iframe></div><br>
	  
<p>The <strong><a href="http://www.amazon.com/gp/product/B00LPESRUK/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00LPESRUK&linkCode=as2&tag=pythonpr-20&linkId=ZUA4IBRSKXRUQ6OM">Raspberry Pi</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pythonpr-20&l=as2&o=1&a=B00LPESRUK" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></strong>
 has got to be one of the best $40 purchases I have ever made. It was so good, I bought more than a dozen more. Not only does it make for an extremely cheap Linux computer, it also makes for a superb bridge between the Python programming language and robotics. The Raspberry Pi is just a credit-card sized computer. You'll need a usb mouse, a cell phone charger (micro usb), a usb keyboard and an HDMI monitor, but, otherwise, it's a full computer. Think of it like buying a computer tower, without the power cord. Many people have a 5v 1000mA micro usb cell phone charger lying around, however, as well as many of the other parts. </p>

<p>There are all sorts of projects that people have used the Raspberry Pi for. You can also learn about <a title="raspberry pi supercomputing" href="/build-supercomputer-raspberry-pi/" target="_blank"><span style="text-decoration: underline;"><strong>cluster computing by stacking your Pis.</strong></span></a></p>

<p>In this tutorial series, we have a simple four-wheeled car. Each side's wheels function together. The car can go forward, reverse, turn left, turn right, or even pivot in place. The car's onboard computer (Raspberry Pi) is powered by the Ankur portable cellphone charger. That's the tube structure on top.</p>

<p>Next up, there is a front ultrasonic distance sensor, the HC-SR04, which informs the car of objects in its way.</p>

<p>The final modification is somewhat difficult to see, but it is the Raspberry Pi Camera Module. That's hidden in the front-center. You can see the camera lens through the center hole facing out.</p>

<p>The distance sensor's purpose is to allow for some autonomy, so the car can drive itself. We probably should add a rear sensor as well though! The camera streams via HTTP access protocol back to a computer. For this, we use VLC Media player to play the network stream.</p>

<p>This series is dedicated to teaching you how to do all of this. </p>

<div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423"   src="https://www.youtube.com/embed/xdnmySPke1s?list=PLQVvvaa0QuDdnpgDr1YZF9dI_4G334od6" frameborder="0" allowfullscreen></iframe></div><br>

		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


