
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Robotics with the Raspberry Pi']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Robotics with the Raspberry Pi']}}%;">
				Robotics with the Raspberry Pi Progress:  {{completed_percentages['Robotics with the Raspberry Pi']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423"   src="https://www.youtube.com/embed/1OwG6EgUXbI?list=PLQVvvaa0QuDdnpgDr1YZF9dI_4G334od6" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>See the video for connecting everything. Then, when you're ready to run the program:</p>
	  <code>sudo python gpioexample.py</code>
	  <p>Once hitting enter, the LED light should turn on, and you should have the password question in the terminal. </p>
	  <p>If you type the correct password, then you should see that the LED turns off for four seconds before turning back on. If you type the wrong password, the light should not turn off.</p>
	  <p>Now that you have a very basic example of using the GPIO pins, let's take this up a notch.</p>
	  

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


