
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Kivy']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Kivy']}}%;">
				Kivy Progress:  {{completed_percentages['Kivy']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/kivy/kivy-dynamic-positioning.png') }}" alt="Python Kivy Application Development" /><br>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/Ha7TP11H0EI?list=PLQVvvaa0QuDe_l6XiJ40yGTEqIKugAdTy" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p></p>
	  <p></p>
	  <p></p>
	  <p></p>


<p>KivyVideo5.py:</p>
<pre class="prettyprint">
from kivy.app import App
#kivy.require("1.8.0")
from kivy.uix.label import Label
from kivy.uix.widget import Widget

class Widgets(Widget):
    pass


class SimpleKivy3(App):
    def build(self):
        return Widgets()

if __name__ == "__main__":
    SimpleKivy3().run()
</pre>		

<p>The above file remains relatively unchanged, aside from the new name of the main app, which is now SimpleKivy3 to correspond with the SimpleKivy3.kv file.</p>
		
<p>SimpleKivy3.kv:</p>
		<div class="row">
		<div class="col-md-7">
		<pre  class="prettyprint">
&lt;Button>:
    font_size: 40
	size: 170,75
	color: 0,1,0,1

&lt;Widgets>:
    Button:
        pos: root.x, root.top - self.height
        text: "Kivy"

    Button:
        pos: 170,0
        text: "Tutorials"
		</pre></div>
		<div class="col-md-5">
<p>Now what we're showing here is that we can have a "button" parent, acting like a global variable, where we specify that buttons are 40 font size, the button is 170x75, and the color is green.</p><p>After that, we see some more button definition within the Widgets parent. Upon running, we see that the "global" variables have applied, but then the children have their custom code as well.</p>
</div></div>

<p>Also, we illustrate here the use of placing things dynamically, using things like root.x (which references the application), and then self (which references the button itself) especially if you want to position buttons near the top. </p>

<p>The output here should be something like:</p>
<img class="img-responsive" src="{{ url_for('static', filename='images/kivy/kivy-dynamic-positioning.png') }}" alt="Python Kivy Application Development" /><br>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


