
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Kivy']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Kivy']}}%;">
				Kivy Progress:  {{completed_percentages['Kivy']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/kivy/kivy-language-example.png') }}" alt="Python Kivy Application Development" /><br>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/74zCdYRCtog?list=PLQVvvaa0QuDe_l6XiJ40yGTEqIKugAdTy" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>While you can get by writing Kivy applications without ever writing Kivy language (.kv), using the Kivy language may be useful to you for organization and separating application logic from the presentation of it.</p>
	  <p>It may also boil down to preference in the end. Try both and see what you like best.</p>
	  <p>Here, we're going to show a very basic implementation of the Kivy language.</p>

		<p>KivyVideo3.py file:</p>
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
from kivy.app import App
#kivy.require("1.8.0")
from kivy.uix.label import Label


class SimpleKivy(App):
    def build(self):
        return Label()

if __name__ == "__main__":
    SimpleKivy().run()
		</pre></div>
		<div class="col-md-6">
<p>This code should be easy enough to follow if you've been following along with the series. Nothing new here.</p> <p>So what gives? How does this .kv stuff work?</p> <p>The naming convention for the .kv file needs to follow the main app class, so SimpleKivy should be the name of our .kv file. </p></div></div>


<p>So now, let's make the kivy file, calling it SimpleKivy.kv:</p>


		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
#:kivy 1.8.0

&lt;Label>
    text: 'Hello'+' World!'
		</pre></div>
		<div class="col-md-6">
<p>So this is our Kivy Language. The tag signs just note that this is the parent, then we have children under it.  Here, we're just saying we want to have a label that says "Hello" + "World!"</p></div></div>

<p>You could also say text: "Hello world!" I chose to show that you can include some basic Python code as well within the Kivy files.</p>

<p>This is just a basic example, showing the same result as the previous tutorial. The main advantage by using the Kivy language is just for organization. If you have, say, 50 labels in total, 20 buttons, and various other widgets, it will clutter your Python script quite a bit to do all of the styling within it. It might just help for clarity alone to separate the two. Kivy language reminds me a lot of CSS, or stylesheets, for HTML. While you could write all of your styles in line with your HTML, it just makes more sense to separate it.</p>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


