
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Kivy']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Kivy']}}%;">
				Kivy Progress:  {{completed_percentages['Kivy']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/kivy/kivy-screen-manager-tutorial.gif') }}" alt="Python Kivy Application Development" /><br>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/g4y0x3dptMs?list=PLQVvvaa0QuDe_l6XiJ40yGTEqIKugAdTy" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>In this Kivy tutorial, we cover the Kivy Screen Manager. Any medium to large application is going to have multiple windows. Even if it is something as simple as a login screen that leads to a home screen that allows you to visit a settings screen, you are going to need a way to move to and from the screens.</p>
	  <p>Kivy works bit like Tkinter, where you just simply bring the main screen to the foreground, but, luckily for us, Kivy does this for us much easier than Tkinter does!</p>
	  <p>We can use the Screen Manager to store the possible screens, and bring the current screen to the front for the viewer. Not only this, but Kivy also has some basic transitions to make the movement between screens feel a bit better to the user. We'll use the "fade transition" here.</p>
	  
	  <p>First, let's write our python file:</p>
	  
	  <pre class="prettyprint">
from kivy.app import App
from kivy.lang import Builder
from kivy.uix.screenmanager import ScreenManager, Screen, FadeTransition

class MainScreen(Screen):
    pass

class AnotherScreen(Screen):
    pass

class ScreenManagement(ScreenManager):
    pass

presentation = Builder.load_file("main.kv")

class MainApp(App):
    def build(self):
        return presentation

MainApp().run()
	  </pre>
	  
	  
	  <p>Above, we're now importing the ScreenManager, Screen, and the FadeTransition that we intend to use</p>
	  <p>Next, we create our MainScreen class, and our AnotherScreen class. These will be the two "screens" for our application.</p>
	  <p>Then we create the ScreenManagement class, which will inhereit from the ScreenManager class. We're going to use this class for the screen management.</p>
	  <p>The rest of the code is the same as previous tutorials up to this point.</p>
	  <p>Now we visit the .kv file, which we've explicitly called main.kv in our python script.</p>

		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
ScreenManagement:
    transition: FadeTransition()
    MainScreen:
    AnotherScreen:
	
&lt;MainScreen>:
    name: 'main'

    Button:
        on_release: app.root.current = 'other'
        text: 'Another Screen'
        font_size: 50
            
&lt;AnotherScreen>:
    name: 'other'

    Button:
        on_release: app.root.current = 'main'
        text: 'back to the home screen'
        font_size: 50
		</pre></div>
		<div class="col-md-6">
<p>Here, we define the screen manager as a parent, giving it the FadeTransition type, and assigning our two screens to it. </p>
<p>After this, we add our screen parents. Within those, we give each one a name. This name is an associative name that we can reference in the screen manager in order to switch to it.</p>
<p>Next, we add a button in both screens, leading to the other screen. The buttons have parameters that we've already seen so far, except for the on_release parameter.</p>
<p>On_release allows us to write some code when the button is released. In this case, we're asking the app.root to change the current attribute to the other page. app.root references the ScreenManagement class, which inherits from the ScreenManager, which is where we get the ".current" method.</p>
<p></p></div></div>

<p>With this, you should have a resulting program that knows to switch screens with the click of a button.</p>

<img class="img-responsive" src="{{ url_for('static', filename='images/kivy/kivy-screen-manager-tutorial.gif') }}" alt="Python Kivy Application Development" /><br>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


