
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Kivy']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Kivy']}}%;">
				Kivy Progress:  {{completed_percentages['Kivy']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/JxUVXbS1pXQ?list=PLQVvvaa0QuDe_l6XiJ40yGTEqIKugAdTy" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>This tutorial will be covering the Kivy builder, which is used for building the .kv information. Instead of using the somewhat strange naming conventions for the app / .kv file, you can explicitly dictate the .kv file, or even just the .kv code string without needing a file at all.</p>
	  <p></p>
	 
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
from kivy.app import App
from kivy.lang import Builder

presentation = Builder.load_file("main.kv")

class MainApp(App):
    
    def build(self):
        return presentation
		

if __name__ == "__main__":

    MainApp().run()
		</pre></div>
		<div class="col-md-6">
<p>First, to use the builder, we need to import it.</p>
<p>Then, we use Builder.load_file() to load the file we want to use, explicitly. In our case, we're loading in "main.kv."</p>
<p>While we have the root app class still being called MainApp, we could call it Splat, for example, and things would still work just fine.</p>
<p>You can also use Builder.load_string(), and then you can use a multi-line string, writing all of your kv code right in the py file.</p></div></div>
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


