
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Kivy']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Kivy']}}%;">
				Kivy Progress:  {{completed_percentages['Kivy']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/wQQ0sUI2lJo?list=PLQVvvaa0QuDe_l6XiJ40yGTEqIKugAdTy" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>In this Kivy basics tutorial, we're going to be talking about another type of layout: the Float Layout.</p>
	  <p></p>

		
		
		
		<div class="row">
		<div class="col-md-7">
		<pre  class="prettyprint">
from kivy.app import App
#kivy.require("1.8.0")
from kivy.uix.floatlayout import FloatLayout

class SimpleKivy4(App):
    def build(self):
        return FloatLayout()

if __name__ == "__main__":
    SimpleKivy4().run()
		</pre></div>
		<div class="col-md-5">
<p>This code should look mostly familiar.</p>
<p>The only major changes here are that we're importing the FloatLayout, and we're having SimpleKivy4 (our main class here) returning FloatLayout.</p></div></div>


<p>Now for our SimpleKivy4.kv file:</p>
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
&lt;Button>:
    font_size: 40
	color: 0,1,0,1
	size_hint: 0.3, 0.2 

&lt;FloatLayout>:
    Button:
	    text: "Kivy"
		pos_hint: {"x": 0, 'y':0}
	
	Button:
	    text: "Tutorials"
		pos_hint: {"right": 0.5, 'top':1}
		</pre></div>
		<div class="col-md-6">
<p>Now, we see a few new terms within our .kv file.</p>
<p>First, we see this size_hint variable. Size_hint is a hint at the size of an element, based on portions of the "total" available. 0.3, 0.2 means the element will be 30% of the window wide, and 20% of the window tall.</p>
<p>Next, we spot pos_hint. Pos_hint gives a hint at the position, which is measured relatively between 0 and 1, where 1 is "completely" something and 0 is "not" something.</p></div></div>

<p>Pos_hint was just confusing to me for a while, and I still have to think a bit about what it actually means... but I just add "ness" to the term I am modifying. So, if we say pos_hint is {"right":0.5 and "top":1}, then we're saying it has "half right-ness" and full "top-ness."</p>

<p>Using these terms, with float layout, gives you the ability now to have a window with widgets, buttons, labels, and whatever else that will resize pretty well, no matter what the size of the window is, or the orientation of the window (portrait vs landscape).</p>	
<p>Now, our application can do:</p>  

<img class="img-responsive" src="{{ url_for('static', filename='images/kivy/kivy-floatlayout-example-1.png') }}" alt="Python Kivy Application Development" /><br>
<p>Or...</p>
<img class="img-responsive" src="{{ url_for('static', filename='images/kivy/kivy-floatlayout-example-2.png') }}" alt="Python Kivy Application Development" /><br>	

<p>As you can see, we're able to adjust the pixel position, as well as the size, completely relatively according to the size and shape of the actual window itself. Pretty cool!</p>	
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


