
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container" align="left" style="max-width:800px">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Kivy']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentages['Kivy']}}%;">
				Kivy Progress:  {{completed_percentages['Kivy']}}%
			</div>
		</div>
		<img class="img-responsive" src="{{ url_for('static', filename='images/kivy/kivy-language-styling-tutorial.png') }}" alt="Python Kivy Application Development" /><br>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="423" src="https://www.youtube.com/embed/IoCpQcWZnT0?list=PLQVvvaa0QuDe_l6XiJ40yGTEqIKugAdTy" frameborder="0" allowfullscreen></iframe></div><br>
	  
	  <p>In this tutorial, we cover how to organize your presentation structure. So far, we've just shown how to add a label, but there is much more to the Kivy language than this. For example, you can either dictate what all buttons will look like, for what specific buttons in specific widgets look like, or both!</p>
	  <p>To show this, we're going to add another class, Widgets, and then we'll see how to describe what a button within a specific class should look like:</p>
	  <p>KivyVideo4.py file:</p>
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
from kivy.app import App
#kivy.require("1.8.0")
from kivy.uix.label import Label
from kivy.uix.widget import Widget


class Widgets(Widget):
    pass
	

class SimpleKivy2(App):
    def build(self):
        return Widgets()
		

if __name__ == "__main__":
    SimpleKivy2().run()
		</pre></div>
		<div class="col-md-6">
<p>We're now importing Widget, and then we're making this Widgets class, which is inheriting from the Widget class from Kivy.</p><p>Now, where we used to return a different Kivy class, we're going to instead have SimpleKivy (now called SimpleKivy2, which will correspond to my SimpleKivy2.kv file) now returning the Widgets class.</p>
<p>That's all for the Python code. We pass with the Widgets class because the only "code" that we want for now is just presentation code. Since we're currently using .kv files for the presentation, that's where the rest of our code will be going.</p></div></div>
	  

<p>SimpleKivy2.kv file:</p>	  
		<div class="row">
		<div class="col-md-6">
		<pre  class="prettyprint">
&lt;Widgets>:
	Button:
		size: 100,75
		pos: 0,0
		text: "Kivy"
		color: 0,1,0,1
		font_size: 40

	Button:
		size: 170,75
		pos: 100,0
		text: "Tutorials"
		color: 1,0,0,1
		font_size: 40	
		</pre></div>
		<div class="col-md-6">
<p>Now, what is happening here is that <Widgets> is referencing our Widgets class from the main python file. That has Widgets acting as a parent here, and now, using tabs, we can define some children of the Widget.</p><p>First, we see two button children. After that, we see another tab with a some parameters for those buttons.</p><p>It will be very easy to forget the required colons after the parents, and you won't really be served any explicit errors because of it.</p></div></div>		

<p>The outcome for this:</p>
<img class="img-responsive" src="{{ url_for('static', filename='images/kivy/kivy-language-styling-tutorial.png') }}" alt="Python Kivy Application Development" /><br>

<p>For the buttons: Size is the width and height of the button in pixels. Then, pos is the position of the element, using the top left point as the guide. Next, "Text" is whatever we want the button to say. Then we have color, which is measured as RGB-A, or red, green, blue, alpha, and these are in values between 0 and 1. So, 0,1,0,1 is no red, full green, no blue, and full alpha (meaning the color is solid). Finally, "font_size" is the size of the font. I know you didn't see that coming!</p>


		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>


	

	
</body>


{% endblock %}


